<style>
    body>header {
        background: rgb(4, 18, 29);
    }
</style>
<header data-theme="dark" class="pico">
    <div class="container">
    <nav>
        <ul>
            <hgroup onclick="window.location.href = '/';">
                <h1><b>Inference</b></h1>
            </hgroup>
        </ul>
        <ul>
            <li>
                <details class="dropdown">
                    {% if title == "Inference" or title == "Model Detail" or title ==  "Manual" or title ==  "Contact" %}
                    <summary  role="button" class="outline">
                        About
                    </summary>
                    {% else %}
                    <summary >
                        About
                    </summary>
                    {% endif %}
                    <ul dir="rtl">
                        {% if title == "Inference"%}
                        <li><a aria-current="page" href="/">Introduction</a></li>
                        {% else %}
                        <li><a href="/">Introduction</a></li>
                        {% endif %}
                        {% if title == "Model Detail"%}
                        <li><a aria-current="page" href="/model_infor">Model</a></li>
                        {% else %}
                        <li><a href="/model_infor">Model</a></li>
                        {% endif %}
                        {% if title == "Manual"%}
                        <li><a aria-current="page" href="/manual">User Manual</a></li>
                        {% else %}
                        <li><a href="/manual">User Manual</a></li>
                        {% endif %}
                        {% if title == "Contact"%}
                        <li><a aria-current="page" href="/contact">Contact Us</a></li>
                        {% else %}
                        <li><a href="/contact">Contact Us</a></li>
                        {% endif %}
                    </ul>
                </details>
            </li>

            <li>
                <details class="dropdown">
                    {% if title == "Prompt & API" or title == "Inference Mode" or title == "Chat Bot" or title == "Prompt engineer" or title == "Hotpot Mode" %}
                    <summary role="button" class="outline">
                        Mode
                    </summary>
                    {% else %}
                    <summary >
                        Mode
                    </summary>
                    {% endif %}
                    <ul dir="rtl">
                        {% if title == "Prompt & API"%}
                        <li><a aria-current="page" href="/prompt">Prompt and API</a></li>
                        {% else%}
                        <li><a href="/prompt">Prompt and API</a></li>
                        {% endif %}
                        {% if title == "Inference Mode"%}
                        <li><a aria-current="page" href="/chat">Chat Bot and Agent</a></li>
                        {% else %}
                        <li><a href="/chat">Chat Bot and Agent</a></li>
                        {% endif %}
                    </ul>
                </details>
            </li>
            {% if title == "Manage API Key" or title == "Payment Success" or title == "Payment Cancelled"%}
            <li><a href="/buy">Get Key</a></li>
            {% else %}
            <li><a class="contrast"  href="/buy">Get Key</a></li>
            {% endif %}
            {% if title == "Get Log" or title == "Log" %}
            <li><a href="/promptresponse">Response Log</a></li>
            {% else %}
            <li><a class="contrast"  href="/promptresponse">Response Log</a></li>
            {% endif %}
            <li><input name="colour-mode" type="checkbox" id="colour-mode" role="switch" onclick="switchColour()" />
            </li>
        </ul>
    </nav>
</div>
</header>