nav {
    position: 'sticky';
    position: '-webkit-sticky';
    /* For Safari */
    top: 24px;
    /* How far down the page you want your ToC to live */

    /* Give table of contents a scrollbar */
    max-height: calc(100vh - 40px);
    overflow: auto;
}


h2,
h3 {
    scroll-margin-top: 70px;
}

/* Safari-only */
@supports (-webkit-hyphens:none) {

    h2,
    h3 {
        padding-top: 70px;
        margin-top: -70px;
    }
}

a {
    text-decoration: none;
    font-size: 15px;
}

ul {
    list-style-type: none;
    margin-left:8px;
    padding-left:8px;
  }
  