h6{
    font-size: 20px!important;
    padding: 0px!important;
    margin-bottom: 0px!important;
    color: white!important;
}
.footerholder{
    padding-bottom: 25px;
}
.contrast{
    color: white!important;
}
.json-schema-2020-12__title, .json-schema-2020-12-accordion, .json-schema-2020-12-expand-deep-button{
    background-color: transparent!important;
}