{% extends "component_html/base.html" %}
{% block head %}
<script src="/static/js/jquery.min.js"></script>
<script type="text/javascript" src="/static/js/refresh-captcha.js"></script>

{% endblock head%}
{% block content %}
<main>
  <div id="content" class="container">
    <div style="width: 380px; margin: 0 auto;">
    <h1>{{title}}</h1>
    <form method="post">

        {% csrf_token %}
        <input placeholder="Name" class="contact" type="text" name="name" value="" />
        <input placeholder="Mail" class="contact" type="text" name="sender_email" value="" />
      <br>
      <textarea placeholder="Message" class="contact textarea" rows="8" cols="50" name="message"></textarea>
    {{form}}
    <h5><br /><br />NOTE: This may not work yet, we are using consumers' Gmail to foward your message, the maximum
      number of emails can be sent is 500 per day</h5>
    </form>
    {%for message in messages %}
    {%if "email" in message.tags %}
    <h4> {{message}} </h4>
    {%endif%}
    {%endfor%}

  </div>
  </div>
</div>
</main>
{% endblock content %}