{% load static %}
<!DOCTYPE html>
<html data-theme="dark">
<head>
    <link type="text/css" rel="stylesheet" href="{% static 'ninja/swagger-ui.css' %}">
    <link rel="shortcut icon" type="image/png" href="/static/image/favicon.ico" />
    <link rel="stylesheet" href="/static/css/pico-main/css/pico.conditional.min.css" />
    <link rel="stylesheet" href="/static/css/pico-main/css/pico.colors.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/api-colour-dark.css" id="api-colour"/>

    <title>{{ api.title }}</title>
</head>
<body
    data-csrf-token="{% if add_csrf %}{{ csrf_token }}{% endif %}"
    data-api-csrf="{% if add_csrf %}true{% endif %}">
    <script type="application/json" id="swagger-settings">
        {{ swagger_settings | safe }}
    </script>
    
    <div id="swagger-ui"></div>

    <script src="{% static 'ninja/swagger-ui-bundle.js' %}"></script>
    <script src="{% static 'ninja/swagger-ui-init.js' %}"></script>

</body>
<script>
    function switchColour(){
    var light=document.getElementById("colour-mode");
    var api_colour = document.getElementById("api-colour");
      if (light.checked){
        document.documentElement.setAttribute('data-theme', 'light');
        api_colour.setAttribute("href", "/static/css/api-colour-white.css");
      }
      else {
        document.documentElement.setAttribute('data-theme', 'dark');
        api_colour.setAttribute("href", "/static/css/api-colour-dark.css");
      }
}
</script>
</html>