.scheme-container{
    background-color: transparent!important;
} 
h6{
    font-size: 20px!important;
    padding: 0px!important;
    margin-bottom: 0px!important;
}
.footerholder{
    padding-bottom: 25px;
}
.json-schema-2020-12__title, .json-schema-2020-12-accordion, .json-schema-2020-12-expand-deep-button{
    color: white!important;
    background-color: transparent!important;
}
.json-schema-2020-12__attribute, .json-schema-2020-12__attribute--primary{
    color: rgb(73, 204, 144)!important
}
.json-schema-2020-12-keyword__value, .json-schema-2020-12-keyword__value--const{
    color: rgb(211, 99, 99)!important;
}
.opblock-section-header{
    background-color: transparent!important;
}

.opblock-title, .opblock-summary-description, button, td, a, h2, h3 ,h4, p, code,label{
    color: white!important;
}
.json-schema-2020-12-keyword__name, .json-schema-2020-12-keyword__name--primary, h5{
    color: rgb(136, 145, 164)!important;
}
article{
background: black!important; 

}
svg, ​path {
fill: white!important;
}
.link, .nostyle {
    color: rgb(1, 170, 255)!important
}
.modal-ux-inner{
    background-color: black!important
}
input[type=text]{
    width: 100%!important;
    color: black!important;
}
.renderedMarkdown{
    color: rgb(73, 204, 144)!important;
}