#chat-log {
    width: 100% !important;
    resize: vertical;
    background-color: black;
    color: white;
    box-sizing: border-box;
    height: 60vh;
    border-radius: 5px;
    overflow: auto;
}

.input-wrapper {
    position: relative;
}

#chat-message-submit {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 16px;
    padding: 5px;
}

.message_log_container {
    margin: 10px;
}

input {
    width: 7ch;
}

#site_content {
    background-color: #f2f2f5 !important
}