#chat-log-bot,
#chat-log-agent {
    width: 100% !important;
    min-width: 250px;
    min-height: 150px;
    resize: vertical;
    background-color: black;
    color: white;
    box-sizing: border-box;
    height: 500px;
    overflow: auto;
    border-radius: 5px;
    font-size: 14px;
}

.message_log_container {
    margin: 10px;
}

input {
    width: 7ch;
}

.input-wrapper {
    position: relative;
}

#chat-message-submit-bot,
#chat-message-submit-agent {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 14px;
    padding: 5px;
}

#editorjs {
    background-color: white;
    color: black;
    border-radius: 5px;
    padding: 25px;
    font-size: 16px;
}

#editorjs h1 {
    font-size: 28px;
    color: black;
}

#editorjs h2 {
    font-size: 24px;
    color: black;
}

#editorjs h3 {
    font-size: 20px;
    color: black;
}

#editorjs h4 {
    font-size: 18px;
    color: black;
}

#editorjs h5 {
    font-size: 16px;
    color: black;
}

#editorjs h6 {
    font-size: 14px;
    color: black;
}

#editorjs small {
    font-size: 12px;
    color: black;
}

select {
    height: 35px;
    padding-top: 0px!important;
    padding-bottom: 0px!important;
    font-size: calc(10px + 0.25vw);
}