{% load static %}
<!doctype html>
<html>
  <head>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="Inference Portal that offers API, Chat Bot Mode and more for multiple large language models" />
    <meta name="keywords" content="Language Models, Inferences, Social Media, Chat Bots, Agents" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta property="og:title" content="Inference Portal for multiple Large Language Models">
    <meta property="og:description"
        content="Inference Portal that offers API, Chat Bot Mode and more for multiple large language models">
    <meta property="og:type" content="article">
    <meta property="og:url"
        content="https://professorparakeet.com/static/image/tinyparakeet.png">
    <meta property="og:image"
        content="https://professorparakeet.com/static/image/tinyparakeet.png" />
    <link rel="shortcut icon" type="image/png" href="/static/image/favicon.ico" />

  </head>
  <body>
    <div id="root" />
    <script src="{% static 'index-bundle.js' %}"></script>
  </body>
</html>
