<!DOCTYPE HTML>
<html>
<head>
    <title>Order detail</title>
    <meta name="description" content="website description" />
    <meta name="keywords" content="website keywords, website keywords" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="/static/css/style.css" title="style" />
</head>
<body>
    <div id="main">
      <div id="header">
        <div id="logo">
          <div id="logo_text">
            <!-- class="logo_colour", allows you to change the colour of the text -->
            <h1><a href="index.html">Inference <span class="logo_colour"></span></a></h1>
          </div>
        </div>
        <div id="menubar">
          <ul id="menu">
            <!-- put class="selected" in the li tag for the selected page - to highlight which page you're on -->
            <li ><a href="/"> Intro</a></li>
            <li><a href="/model_infor.html">Models</a></li>
            <li class="selected"><a href="/buy.html"> Top Up</a></li>
            <li><a href="/prompt.html">Promtps</a></li>
            <li ><a href="/chat.html">Chat Bot Mode</a></li>
            <li><a href="contact.html">Contact Us</a></li>
          </ul>
        </div>
      </div>
      <div id="site_content">



            {% block script %} <script src="https://js.stripe.com/v3/"></script> {% endblock script%} 
            {% block content %}
            <div class="card-deck">
            {% for price in prices %}
            <div class="card">
                <div class="card-body">
                <h3 class="card-text"> Top up {{ price.price }} AUD for:  </h3>
                <h4> Key name: {{ name}} </h4>
                <h4> Key: {{ key}}  </h4>
                <div class="card-text">
                    <form
                    action="{% url 'apikey:create-checkout-session' price.id name key%}"
                    method="POST"
                    >
                    {% csrf_token %}

                    <button type="submit" class="btn btn-primary">Confirm</button>
                    </form>
                </div>
                </div>
            </div>
            {% endfor %}
            </div>
            {% endblock content %} 

      
    </div>
    </body>
    </html>