{% extends "component_html/base.html" %}
{% block head %}
<script src="https://js.stripe.com/v3/"></script>
{% endblock head %}
{% block content %}
<main>
  <div class="container">

    <div class="card-deck">
      {% for price in prices %}
      <div class="card">
        <div class="card-body">
          <h3 class="card-text"> Top up {{ price.price }} USD for: </h3>
          <h4> Key name: {{ name}} </h4>
          <h4> Key: {{ key}} </h4>
          <div class="card-text">
            <form action="{% url 'apikey:create-checkout-session' price.id name key%}" method="POST">
              {% csrf_token %}
              <button type="submit" class="btn btn-primary">Confirm</button>
            </form>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>

  </div>
</main>
{% endblock content %}