{% extends "component_html/base.html" %}
{% block head %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script type="text/javascript" src="/static/js/refresh-captcha.js"></script>
<script type="text/javascript" src="/static/js/export-key.js"></script>
{% endblock head%}

{% block content %}
<main>
  <div class="container">
    <div class="grid">
      <div class="container">
        <h2> Create a Key </h2>
        <form action="/generatekey" method="post">
          {% csrf_token %}
          <input type="hidden" name="form_type" value="createform">
          <div class="grid">
            <input placeholder="key name" name="name" />

            <input type="submit" value="Create" />
          </div>
          {{ form}}
          <br>
          {%for message in messages %}
          {%if "key" in message.tags %}
          <h4> {{message}} </h4>
          {%endif%}
          {%endfor%}
        </form>
        {% if key and name %}
        <br>
        <ul>
          <li> Please remember your Key and Key Name to inference the model </li>
          <li> If I was you, I would export my Key into a Text document </li>
          <li> Before topping up your Key, use the check credit function below to ensure that you get them correctly
          </li>
          <li> If you face any problems, please contact us </li>
        </ul>
        <textarea style="width:100%; height: 200px;" id="keyresponse" name="keyresponse">Your key name: {{ name }}&#13;&#10;Your key: {{ key }}&#13;&#10;Monero address: {{integrated_address}}&#13;&#10;Monero payment ID: {{payment_id}}
            </textarea>
        <button style="display: block; margin: 0 auto;" id="key-export">
          Export Key
        </button>
        <script>
          document.getElementById("key-export").addEventListener("click", function () {
            download('text/plain', 'User_Key_For_Professor_Parakeet_KEEP_IT_SECURE.txt')
          });
        </script>
        {% endif %}
      </div>

      <div class="container">
        <h2>Check XMR Wallet</h2>
        <form action="/getxmraddress" method="post">
          {% csrf_token %}
          <input type="hidden" name="form_type" value="get_xmr_address">
          <div class="grid">
            <input type="password" placeholder="Key" name="key" />
            <input type="submit" value="Check" />

          </div>
          {{form}}
          <br>
          {%for message in messages %}
          {%if "monero_address" in message.tags %}
          <h4> {{message}} </h4>
          {%endif%}
          {%endfor%}
        </form>
      </div>
    </div>
    <hr>

    <div class="grid">
      <div class="container">
        <h2>Pay by Stripe</h2>
        <div class="grid">
          <div class="container">
            <small><i> NOTE: We use Stripe to process payments. We do not record your payment details or email address
                (we do
                not
                even confirm your email). If you are concerned please use throw away credit/debit cards.</i></small>
                <br>
            <small><i> NOTE: Stripe payment is currently in test mode, you may and should pay by Monero
                instead.</i></small>
          </div>
          <div class="container">
            <div class="container">
              <form action="/topup" style="text-align: center;" method="post">
                {% csrf_token %}
                <div class="grid" style="margin-bottom: 10px;">
                  <input placeholder="Key name" type="text" name="name" />
                  <select name="product" id="product" aria-label="product" required>
                    {% for product in products %}
                    {% if product.name == "10 USD" %}
                    <option selected value="{{product.id}}">{{product.name}}</option>
                    {% else %}
                    <option value="{{product.id}}">{{product.name}}</option>
                    {% endif %}
                    {% endfor %}
                  </select>
                </div>
          

                <div class="grid">
                  <input placeholder="Key" type="password" name="key" />
                  <input type="submit" value="Pay" />
                </div>
                <input type="hidden" name="form_type" value="topupform">
              </form>

            </div>
            {% if key_error == "error" %}
            <p> Your Key or Key Name is wrong !!!</p>
            {% endif %}
          </div>
        </div>
      </div>



      <div class="container">
        <h2>Or Check Credit</h2>
        <form action="/checkcredit" method="post">
          {% csrf_token %}
          <input type="hidden" name="form_type" value="checkform">
          <div class="grid">
            <input type="text" placeholder="Key name" name="name" />
            <input type="password" placeholder="Key" name="key" />
            <input type="submit" value="Check" />
          </div>
          {{form}}

          <br>
          {%for message in messages %}
          {%if "credit" in message.tags %}
          <h4> {{message}} </h4>
          {%endif%}
          {%endfor%}
        </form>
      </div>
    </div>

    <hr>

    <div class="grid">
      <div class="container">
        <h2>Pay by Monero</h2>
        <small><i> NOTE: There will be no refund for payment after it is sent, we can add more credit to your key if
            our nodes are down.
          </i></small><br>
        <small><i> NOTE: Processing the payment may take up to 30 minutes after it has been confirmed on the
            blockchain. Use sufficient fees so the transactions gets confirmed on time.
          </i></small>
      </div>
      <div class="container">
        <h2>Confirm Payment</h2>
        <form action="/checkxmrpayment" method="post">
          {% csrf_token %}
          <input type="hidden" name="form_type" value="check_xmr_payment">
          <div class="grid">
            <div class="container">
              <input type="password" style="max-width: 150px;" placeholder="Key" name="key" />
              <input type="submit" value="Confirm Payment" />
            </div>
            <div class="container">
              {{form}}
            </div>
          </div>
          {%for message in messages %}
          {%if "monero_payment" in message.tags %}
          <h4> {{message}} </h4>
          {%endif%}
          {%endfor%}
        </form>
      </div>

    </div>
  </div>
</main>

{% endblock content %}