<!DOCTYPE HTML>
<html data-theme="dark">

<head>
  <title>Cancel Order</title>
  <meta name="description" content="website description" />
  <meta name="keywords" content="website keywords, website keywords" />
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" href="static/css/pico-main/css/pico.min.css" />
  <link rel="stylesheet" href="static/css/pico-main/css/pico.colors.min.css" />
  <link rel="shortcut icon" type="image/png" href="static/image/favicon.ico" />
  <meta property="og:title" content="Inference Portal for multiple Large Language Models">
  <meta property="og:description"
    content="Inference Portal that offers API, Chat Bot Mode and more for multiple large language modelS">
  <meta property="og:type" content="article">
  <meta property="og:url" content="static/image/pixlr-image-generator-ccb98607-7b6b-4c78-bf2c-394c3ac278f6.png">
  <meta property="og:image" content="static/image/pixlr-image-generator-ccb98607-7b6b-4c78-bf2c-394c3ac278f6.png" />
  <script type="text/javascript" src="static/js/colour-theme-toggle.js"></script>
</head>

<body>
  <header class="container">
    <nav>
      <ul>
        <hgroup onclick="window.location.href = '/';">
          <h1><b>Inference</b></h1>
        </hgroup>
      </ul>
      <ul>
        <li>
          <details class="dropdown">
            <summary>
              About
            </summary>
            <ul dir="rtl">
              <li><a href="/">Introduction</a></li>
              <li><a href="/model_infor">Model</a></li>
              <li><a href="/manual">User Manual</a></li>
              <li><a href="/contact">Contact Us</a></li>
            </ul>
          </details>
        </li>

        <li>
          <details class="dropdown">
            <summary>
              Modes
            </summary>
            <ul dir="rtl">
              <li><a href="/prompt">Prompt and API</a></li>
              <li><a href="/chat">Chat Bot and Agent</a></li>
            </ul>
          </details>
        </li>
        <li><a href="/buy">Get Key</a></li>
        <li><a class="contrast" href="/promptresponse">Response Log</a></li>
        <li><input name="colour-mode" type="checkbox" id="colour-mode" role="switch" onclick="switchColour()" /></li>

      </ul>

    </nav>

  </header>
  <hr>
  <main id="site_content container">
    <div class="container">
      {% block title %} Cancel {% endblock title%}
      {% block content %}
      <div class="alert alert-info" role="alert">
        <a href="{% url 'apikey:product-list' %}">Go Back</a>
      </div>
      {% endblock content %}
    </div>
  </main>
</body>

</html>