<!DOCTYPE HTML>
<html>
<head>
    <title>Chat Mode</title>
    <meta name="description" content="website description" />
    <meta name="keywords" content="website keywords, website keywords" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="/static/css/style.css" title="style" />
    <link rel="shortcut icon" type="image/png" href="static/image/favicon.ico"/>
</head>
<body>
    <div id="main">
      <div id="header">
        <div id="logo">
          <div id="logo_text">
            <!-- class="logo_colour", allows you to change the colour of the text -->
            <h1><a href="index">Inference <span class="logo_colour"></span></a></h1>
          </div>
        </div>
        <div id="menubar">
          <ul id="menu">
            <li  ><a href="/"> Intro</a></li>
            <li><a href="/model_infor">Models</a></li>
            <li><a href="/buy">Top Up</a></li>
            <li><a href="/prompt">Prompt</a></li>
            <li class="selected"><a href="/chat">Chat Bot</a></li>
            <li ><a href="/manual">Manual</a></li>
            <li ><a href="contact">Contact Us</a></li>
          </ul>
        </div>
      </div>

      <div id="site_content">
        <h2>Enter your key </h2>
        <label for="key">Key: </label>
        <input id="key" type="text" >
        <input id="room-name-submit" type="button" value="Enter">
      </div>
    <script>
        document.querySelector('#key').focus();


        document.querySelector('#room-name-submit').onclick = function(e) {
            var key = document.querySelector('#key').value;
            window.location.pathname = '/chat/' + key + "/";
        };
    </script>
</body>
</html>