<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat Rooms</title>
</head>
<body>
    What chat room would you like to enter?<br>
    <label for="name">Key Name: </label>
    <input id="name" type="text" >
    <label for="key">Key: </label>
    <input id="key" type="text" ><br>
    <input id="room-name-submit" type="button" value="Enter">

    <script>
        document.querySelector('#name').focus();


        document.querySelector('#room-name-submit').onclick = function(e) {
            var name = document.querySelector('#name').value;
            var key = document.querySelector('#key').value;
            window.location.pathname = '/chat/' + name + '/' + key + "/";
        };
    </script>
</body>
</html>