<!DOCTYPE HTML>
<html>
<style>
  #id_captcha_1{
    font-size: 14px;
    width: 35%;
    color: #555;
    background-color: #fff;
    background-image: none;
    }
</style> 
<head>
  <title>Contact</title>
  <meta name="description" content="website description" />
  <meta name="keywords" content="website keywords, website keywords" />
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" type="text/css" href="static/css/style.css" title="style" />
</head>

<body>
  <div id="main">
    <div id="header">
      <div id="logo">
        <div id="logo_text">

          <h1><a href="index.html">Inference </span></a></h1>

        </div>
      </div>
      <div id="menubar">
        <ul id="menu">

          <li ><a href="/"> Intro</a></li>
          <li><a href="/model_infor.html">Models</a></li>
          <li><a href="/buy.html"> Top Up</a></li>
          <li><a href="/prompt.html">Submit promtps</a></li>
          <li ><a href="/chat.html">Chat Bot Mode</a></li>
          <li class="selected"><a href="contact.html">Contact Us</a></li>
        </ul>
      </div>
    </div>
    <div id="site_content">
      <div class="sidebar">
        <!-- insert your sidebar items here -->
        <h3>Latest News</h3>
        <h4>A mysterious man gives people free fishes and turns water into wine by his feet</h4>
        <h5>July 1st, 24 </h5>
        <p><br /><a href="#">Please dont read more</a></p>
        <p></p>
        <h4>A mysterious man is executed by his goverment </h4>
        <h5>April 3th, 33</h5>
        <p><br /><a href="#">Please dont read more </a></p>

      </div>
      <div id="content">
        <!-- insert the page content here -->
        <h1>Contact Us</h1>
        <p>Below is an example of how a contact form might look with this template:</p>
        <form  method="post">
     
          <div class="form_settings">
            {% csrf_token %} 
            <p><span>Name</span><input class="contact" type="text" name="name" value="" /></p>
            <p><span>Email Address</span><input class="contact" type="text" name="sender_email" value="" /></p>
            <p><span>Message</span><textarea class="contact textarea" rows="8" cols="50" name="message"></textarea></p>
            <p> <span>{{form.title}} </span> {{ form.captcha }} </p>
            <p style="padding-top: 15px"><span>&nbsp;</span><input class="submit" type="submit" name="contact_submitted" value="submit" /></p>
          </div>
        </form>
        <p><br /><br />NOTE: This may not work yet, we are using consumers' Gmail to foward your message, the maximum number of email can sent is 500</p>
      </div>
    </div>

  </div>
</body>
</html>
