{% extends "component_html/base.html" %}
{% block head %}
<script src="/static/js/jquery.min.js"></script>
<script type="text/javascript" src="/static/js/refresh-captcha.js"></script>
<script type="text/javascript" src="/static/js/export-key.js"></script>
{% endblock head%}

{% block content %}
<main>
  <div class="container">
    <div class="grid">
      <div class="container">
        {% if key and name %}
        <br>
        <ul>
          <li> Please remember your Key and Key Name to inference the model </li>
          <li> If I was you, I would export my Key into a Text document </li>
          <li> Before topping up your Key, use the check credit function below to ensure that you get them correctly
          </li>
          <li> If you face any problems, please contact us </li>
        </ul>
        <textarea style="width:100%; height: 200px;" id="keyresponse" name="keyresponse">Your key name: {{ name }}&#13;&#10;Your key: {{ key }}&#13;&#10;Your integrated Monero wallet: {{integrated_address}}&#13;&#10;Monero payment ID: {{payment_id}}
            </textarea>
        <button style="display: block; margin: 0 auto;" id="key-export">
          Export Key
        </button>
        <script>
          document.getElementById("key-export").addEventListener("click", function () {
            download('text/plain', 'User_Key_For_Professor_Parakeet_KEEP_IT_SECURE.txt')
          });
        </script>
        {% endif %}
      </div>

      <div class="container">
        <h2>Check Credit</h2>
        <form action="/checkcredit" method="post">
          {% csrf_token %}
          <input type="hidden" name="form_type" value="checkform">
          <div class="grid">
            <input type="text" placeholder="Key name" name="name" />
            <input type="password" placeholder="Key" name="key" />
            <input type="submit" value="Check" />
          </div>
          {{form}}

          <br>
          {%for message in messages %}
          {%if "credit" in message.tags %}
          <h4> {{message}} </h4>
          {%endif%}
          {%endfor%}
        </form>
      </div>
    </div>
  </div>
</main>
{% endblock content%}