{% extends "component_html/base.html" %}
{% block head %}
<link rel="stylesheet" href="/static/css/captcha.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script type="text/javascript" src="/static/js/refresh-captcha.js"></script>
<script type="text/javascript" src="/static/js/export-key.js"></script>
{% endblock head%}

{% block content %}
<main>
  <div class="container">
    <div class="grid">
      <div class="container">
        {% if key and name %}
        <br>
        <ul>
          <li> Please remember your Key and Key Name to inference the model </li>
          <li> If I was you, I would export my Key into a Text document </li>
          <li> Before topping up your Key, use the check credit function below to ensure that you get them correctly
          </li>
          <li> If you face any problems, please contact us </li>
        </ul>
        <textarea style="width:100%; height: 200px;" id="keyresponse" name="keyresponse">Your key name: {{ name }}&#13;&#10;Your key: {{ key }}&#13;&#10;Your integrated Monero wallet: {{integrated_address}}&#13;&#10;Monero payment ID: {{payment_id}}
            </textarea>
        <button style="display: block; margin: 0 auto;" id="key-export">
          Export Key
        </button>
        <script>
          document.getElementById("key-export").addEventListener("click", function () {
            download('text/plain', 'User_Key_For_Professor_Parakeet_KEEP_IT_SECURE.txt')
          });
        </script>
        {% endif %}
      </div>

      <div class="container">
        <h2>Check Credit</h2>
        <form action="/checkcredit" style="text-align: center;" method="post">
          {% csrf_token %}
          <input type="hidden" name="form_type" value="checkform">
          <div class="grid">
            <input type="password" placeholder="Key name" name="name" />
            <input type="text" placeholder="Key" name="key" />
          </div>
          <div class="grid">
            {{form.title}}
            {{ form.captcha }}

          </div>
          <input type="submit" value="Check" />
          <br>
          <br>
          {%for message in messages %}
          {%if "credit" in message.tags %}
          <h4> {{message}} </h4>
          {%endif%}
          {%endfor%}
        </form>

      </div>
    </div>
    <hr>
    <h2>Stripe pay</h2>
    <small><i> NOTE: We use Stripe to process payments. We do not record your payment details or email address (we do
        not
        even confirm your email). If you are concerned please use throw away credit/debit cards.</i></small> <br>
    <small><i> NOTE: Stripe payment is currently in test mode, you may and should pay by Monero instead.</i></small>
    <br>
    <div style="display: flex; justify-content: space-between;" class="card">
      {% for product in products %}
      <details>
        <summary> <a> Top up {{product.name}} </a> </summary>
        <form action="/topup" method="post">
          {% csrf_token %}
          <br>
          <input type="hidden" name="form_type" value="topupform">
          <input type="hidden" name="product_id" value={{ product.id }}>
          <input placeholder="Key name" type="password" name="name" />
          <input placeholder="Key" type="text" name="key" />
          <input type="submit" value="Take my money" />
        </form>
      </details>
      {% endfor %}
    </div>
    {% if key_error == "error" %}
    <p> Your Key or Key Name is wrong !!!</p>
    {% endif %}
    <hr>

  </div>
</main>
{% endblock content%}