<!DOCTYPE HTML>
<html>

<head>
  <title>Inference</title>
  <meta name="description" content="website description" />
  <meta name="keywords" content="website keywords, website keywords" />
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" type="text/css" href="static/css/style.css" title="style" />
  <link rel="shortcut icon" type="image/png" href="static/image/favicon.ico"/>
  <meta property="og:title" content="Inference Portal for multiple Large Language Models">
  <meta property="og:description" content="Inference Portal that offers API, Chat Bot Mode and more for multiple large language modelS">
  <meta property="og:type" content="article">
  <meta property="og:url" content="https://professorparakeet.com/static/image/android-chrome-192x192.png">
  <meta property="og:image" content="https://professorparakeet.com/static/image/android-chrome-192x192.png"/>
</head>

<body>
  <div id="main">
    <div id="header">
      <div id="logo">
        <div id="logo_text">
          <!-- class="logo_colour", allows you to change the colour of the text -->
          <h1><a href="index">Inference <span class="logo_colour"></span></a></h1>
        </div>
      </div>
      <div id="menubar">
        <ul id="menu">

          <div  class="dropdown">
            <a  href="/"> 
            <button class="dropbtn-selected">Introduction</button>
            </a>
            <div class="dropdown-content">
              <a href="/">Introduction</a>
              <a href="/model_infor">Model</a>
              <a href="/manual">User Manual</a>
              <a href="/contact">Contact Us</a>
            </div>
          </div> 

          <div class="dropdown">
            <a  href="/chat"> 
            <button class="dropbtn">Inference Modes</button>
            </a>
            <div class="dropdown-content">
              <a href="/prompt">Prompt and API</a>
              <a href="/chat">Chat Bot and Agent</a>
            </div>
          </div> 
          <a  href="/buy"> 
            <button class="dropbtn">Get Key</button>
          </a>
          <a  href="/promptresponse"> 
            <button class="dropbtn">Response Log</button>
          </a>

        </ul>
      </div>
    </div>
    <div id="site_content">
      <div class="sidebar">
        <!-- insert your sidebar items here -->
        <h3>Usefull links:</h3>
        <h4>First, you need to generate for yourself an API key</h4>
        <p><a href="/buy">Indeed, I do need a key.</a></p>
        <hr>
        <h4>Second, you may want to check out our chat bots and agents</h4>
        <p><a href="/chat">Show me your bots and agents.</a></p>
        <hr>
        <h4>Third, you may want to programmtically infer the bots and agents</h4>
        <p><a href="/prompt">That would be conveninent, indeed.</a></p>
        <hr>
        <h4>How about paying for your shenanigans?</h4>
        <p><a href="/buy">Just generate a key and play with it, the cost is 0 during our test.</a></p>
        <hr>
        <h4>I want to know more about what I am doing</h4>
        <p><a href="/manual">Here is your user manual.</a></p>
        <hr>
        <h4>I have an idea of something big, I want to pay for it</h4>
        <p><a href="/contact">Contact us right now.</a></p>
        <hr>
        <h4>I am a policeman, we need to have a talk</h4>
        <p><a href="#">There is nothing illegal here yet, stay tuned</a></p>
        <hr>
        <h4>I am a respectable scientist, we need to have a talk</h4>
        <p><a href="/contact">Want to publish quick and become an emeritus professor before losing all of your hair? Contact us now</a></p>
      </div>
      <div id="content">
        <!-- insert the page content here -->
        <h1>Hello Internet People!!!</h1>
        <p> This website is trying to sell you the access to several finetuned language models. 
         These language models aim to support: </p>
         <ul>
          <li>Social scientists who cannot have enough of their interviewees' opinions  </li>
          <li>Journalists/Marketers/Communicators who want to make argurments like their audiences </li>
          <li>Reasonable people who need to reason like the unreasonable </li>
        </ul>
        <p> Unlike mainstream language models trained by other businesses, our models are trained on the text data generated by multiple groups of interesting people until the models sounds like them.
          Other businesses aim to remove all biases from their models, they want their models to be helpful, logical and reasonable. We want our models to sound like a normal human with all of their
          biases, preferences, hatred, fears, and so on.
        </p>

        <p>
          This website is kept as simple as possible, partly because we do not have the resources to be fancy. 
          This is a privacy feature rather than a drawback actually. In fact, we do not ask you to register an account with us.
        </p>
        <p> In addition to finetuned lanaguage models, we also host several popular base language models. 
          These language models aim to support: </p>
          <ul>
            <li>Scientists who want to study and compare the behaviours of multiple models. </li>
            <li>Developers who want to find the most suitable model for their projects </li>
            <li>Reasonable people who want to play with open source models </li>
          </ul>
          <p>
            We are doing this because we know the pain of downloading 60GB of model weights just to get OOM messages.
            We want to support people test models concurrently and quickly.
          </p>
        <ul>
          <li><strong> If you want to help please contact us</strong>   </li>
          <li><strong> If you have data generated by a specific group of people, we can colaborate. </strong>  </li>
          <li> <strong> If you have an idea of training a new model and willing to pay for it, please let's us know. </strong>  </li>
        </ul>

      </div>
    </div>

  </div>
</body>
</html>
