<!DOCTYPE HTML>
<html>

<head>
  <title>Inference</title>
  <meta name="description" content="website description" />
  <meta name="keywords" content="website keywords, website keywords" />
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" type="text/css" href="static/css/style.css" title="style" />
  <link rel="shortcut icon" type="image/png" href="static/image/favicon.ico"/>
  <meta property="og:title" content="Inference Portal for multiple Large Language Models">
  <meta property="og:description" content="Inference Portal that offers API, Chat Bot Mode and more for multiple large language modelS">
  <meta property="og:type" content="article">
  <meta property="og:url" content="https://professorparakeet.com/static/image/android-chrome-192x192.png">
  <meta property="og:image" content="https://professorparakeet.com/static/image/android-chrome-192x192.png"/>
</head>

<body>
  <div id="main">
    <div id="header">
      <div id="logo">
        <div id="logo_text">
          <!-- class="logo_colour", allows you to change the colour of the text -->
          <h1><a href="index">Inference <span class="logo_colour"></span></a></h1>
        </div>
      </div>
      <div id="menubar">
        <ul id="menu">

          <div  class="dropdown">
            <a  href="/"> 
            <button class="dropbtn-selected">Introduction</button>
            </a>
            <div class="dropdown-content">
              <a href="/">Introduction</a>
              <a href="/model_infor">Model</a>
              <a href="/manual">User Manual</a>
              <a href="/contact">Contact Us</a>
            </div>
          </div> 

          <div class="dropdown">
            <a  href="/chat"> 
            <button class="dropbtn">Inference Modes</button>
            </a>
            <div class="dropdown-content">
              <a href="/prompt">Prompt and API</a>
              <a href="/chat">Chat Bot and Agent</a>
            </div>
          </div> 
          <a  href="/buy"> 
            <button class="dropbtn">Get Key</button>
          </a>
          <a  href="/promptresponse"> 
            <button class="dropbtn">Response Log</button>
          </a>

        </ul>
      </div>
    </div>
    <div id="site_content">
      <div class="sidebar">
        <!-- insert your sidebar items here -->
        <h3>Latest News</h3>
        <h4>Internet people pretend to get offened by an another trivial matter so that they can destroy the life of an another fellow</h4>
        <h5>Jan 21, 2024</h5>
        <p><a href="#">Please dont read more</a></p>
        <p></p>
        <h4>Internet people get bored and are actively waiting for the next trivial things to get offened by</h4>
        <h5>Jan 22, 2024</h5>
        <p><a href="#">Please dont read more</a></p>

      </div>
      <div id="content">
        <!-- insert the page content here -->
        <h1>Hello Internet People!!!</h1>
        <p> This website is trying to sell you the access to several finetuned language models. 
         These language models aim to support: </p>
         <ul>
          <li>Social scientists who cannot have enough of their interviewees' opinions  </li>
          <li>Journalists/Marketers/Communicators who want to make argurments like their audiences </li>
          <li>Reasonable people who need to reason like the unreasonable </li>
        </ul>
        <p> Unlike mainstream language models trained by other businesses, our models are trained on the text data generated by multiple groups of interesting people until the models sounds like them.
          Other businesses aim to remove all biases from their models, they want their models to be helpful, logical and reasonable. We want our models to sound like a normal human with all of their
          biases, preferences, hatred, fears, and so on.
        </p>

        <p>
          This website is kept as simple as possible, partly because we do not have the resources to be fancy. 
          This is a privacy feature rather than a drawback actually. In fact, we do not ask you to register an account with us.
        </p>
        <p> In addition to finetuned lanaguage models, we also host several popular base language models. 
          These language models aim to support: </p>
          <ul>
            <li>Scientists who want to study and compare the behaviours of multiple models. </li>
            <li>Developers who want to find the most suitable model for their projects </li>
            <li>Reasonable people who want to play with open source models </li>
          </ul>
          <p>
            We are doing this because we know the pain of downloading 60GB of model weights just to get OOM messages.
            We want to support people test models concurrently and quickly.
          </p>
        <ul>
          <li><strong> If you want to help please contact us</strong>   </li>
          <li><strong> If you have data generated by a specific group of people, we can colaborate. </strong>  </li>
          <li> <strong> If you have an idea of training a new model and willing to pay for it, please let's us know. </strong>  </li>
        </ul>


        <h2>Available Models</h2>
        <p>We currently offer the access to finetuned two models. 
          With your hard-earned money, we will deliver more models in the future. 
          
        </p>
        <ul>
          <li> Mixtral 13 B </li>
          <p> Mixtral 7B is a popular model pretrained by Mixtral that beat Llama 2 13B on multiple benchmarks.  
          </p>
          <li>Llama 2 13B </li>
          <p> Llmama 2 7B is a popular model pretrained by Meta.
          </p>
          <li>Reddit Helpers</li>
          <p>Reddit Helpers are trained on the data from r/advices, r/selfimprovement, r/personalfinance, r/datingadvice, r/NoFap subreddits.
            These communities consist of people who search or give advices on their personal problems.
            Even though the quality of the advices are questionable, the contributors seem to genuinely 
            want to help.
          </p>
          <li>4Chan /pol </li>
          <h5>NOTE: We do not serve this model to the public, if you have to write some papers about 4Chan and have some funding, we would like to colab</h5>
          <p> 4Chan is a funny place on the Internet.
            We would never know for sure if we are talking to the governments, terrorists, prophets, aliens or just an another 
            angry fellow. The language used by 4Chan is hateful and offensive. It speaks up the voices that mainstream media wants to say but cannot. 
            4Chan is maintained because its users can be located on some spectrums or matrixes that people use to classify people.
            It is convenient for people to communicate with 4Chan users via 4Chan. If there is no more 4Chan, they will make a new one.
          </p>
        </ul>
      </div>
    </div>

  </div>
</body>
</html>
