<!DOCTYPE HTML>
<html>

<head>
    <title>Engineering</title>
    <meta name="description" content="website description" />
    <meta name="keywords" content="website keywords, website keywords" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css" title="style" />
    <link rel="shortcut icon" type="image/png" href="/static/image/favicon.ico" />
    <meta property="og:title" content="Inference Portal for multiple Large Language Models">
    <meta property="og:description" content="Inference Portal that offers API, Chat Bot Mode and more for multiple large language modelS">
    <meta property="og:type" content="article">
    <meta property="og:url" content="https://professorparakeet.com/static/image/android-chrome-192x192.png">
    <meta property="og:image" content="https://professorparakeet.com/static/image/android-chrome-192x192.png"/>
</head>
<style>
    #chat-log {
        width: 60% !important;
        min-width: 250px;
        min-height: 150px;
        resize: vertical;
        background-color: rgb(37, 37, 37);
        color: white;
        border: 1px solid #ccc;
        box-sizing: border-box;
        height: 30vh;
        overflow: auto;
    }
    .message_log_container {
        margin: 10px;
    }

    input {
        width: 7ch;
    }

    #document-template {
        width: 75% !important;
        min-width: 350px;
        min-height: 250px;
        float: right;
        background-color: rgb(37, 37, 37);
        color: white;
        border: 1px solid #ccc;
        box-sizing: border-box;
        overflow: scroll;
    }

    #document-instruction {
        width: 75% !important;
        min-width: 350px;
        max-height: 250px;
        float: right;
        background-color: rgb(37, 37, 37);
        color: white;
        border: 1px solid #ccc;
        box-sizing: border-box;
        height: 100%;
        overflow: scroll;
    }

    .container {
        width: 95%;
        min-width: 1654px;
        display: flex;
        margin-left: auto;
        margin-right: auto;
        align-items: stretch;
        justify-content: space-around;
    }

    #site_content_chat {
        width: 45%;

        overflow: hidden;
        background: #f2f2f5;
    }

    #site_content_document {
        width: 55%;
        min-height: 550px;
        min-width: 450px;
        overflow: scroll;
        background: #f2f2f5;
    }

    .child {
        margin: 0 .5em;
        padding: .5em;
        /* optional */
        min-height: 100%;
    }

    .sidebar {
        float: right;
        min-width: 150px;
        overflow: scroll;
        padding: 0 15px 20px 15px;
    }

    #sidebar_left {
        float: left top;
        width: 190px;

        overflow: scroll;
        padding: 0 10px 10px 10px;
     
    }
    #editorjs{
        background-color: white;
        color: black;
        margin: 10px 10px 10px 10px;
    }
</style>

<body>
    <div id="main">
        <div id="header">
            <div id="logo">
                <div id="logo_text">
                    <h1><a href="index">Inference <span class="logo_colour"></span></a></h1>
                </div>
            </div>
            <div id="menubar">
                <ul id="menu">
                    <div class="dropdown">
                        <a href="/">
                            <button class="dropbtn">Introduction</button>
                        </a>
                        <div class="dropdown-content">
                            <a href="/">Introduction</a>
                            <a href="/model_infor">Model</a>
                            <a href="/manual">User Manual</a>
                            <a href="/contact">Contact Us</a>
                        </div>
                    </div>
                    <div class="dropdown">
                        <a href="#">
                            <button class="dropbtn-selected">Inference Modes</button>
                        </a>
                        <div class="dropdown-content">
                            <a href="/prompt">Prompt and API</a>
                            <a href="/chat">Chat Bot and Agent</a>
                        </div>
                    </div>
                    <a href="/buy">
                        <button class="dropbtn">Get Key</button>
                    </a>
                    <a href="/promptresponse">
                        <button class="dropbtn">Response Log</button>
                    </a>
                </ul>
            </div>
        </div>
        <div class="container">
            <div class="child" id="site_content_document">
                <div id="document-instruction">
                    <h3 style="color:white; padding:10px">Agent Instruction</h3>

                    <textarea id="agent_instruction"
                        style="padding: 10px; height: 100%; width:100%; " autocomplete="off">{{template.bot_instruct|safe}}</textarea>

                    
                </div>

                <div id="document-template">
                    <h3 style="color:white; padding:10px">Document Editor</h3>
                    <div id="editorjs">
                        <script src="/static/js/editor-js/editorjs.umd.js"></script>
                        <script src="/static/js/editor-js/header.umd.min.js "></script>
                        <script src="/static/js/editor-js/list.umd.min.js "></script>
                        <script src="/static/js/editor-js/quote.umd.min.js "></script>
                        <script src="/static/js/editor-js/paragraph.umd.min.js "></script>
                        <script src="/static/js/editor-js/drag.min.js "></script>
                        <script src="/static/js/editor-js/undo.min.js "></script>
                        <script>
                            var currentParagraph = 1
                            var download_content = ""
                            const editor = new EditorJS({ 
                            onReady: () => {
                                    new Undo({ editor });
                                    new DragDrop(editor);
                                },
                            holder: 'editorjs', 
                            minHeight : 140,
                            tools: { 
                                    header: {
                                        class: Header, 
                                        inlineToolbar: ['link'] 
                                        }, 
                                    list: { 
                                        class: List, 
                                        inlineToolbar: true 
                                        }, 
                                    quote: {
                                        class: Quote,
                                        inlineToolbar: true,
                                    },
                                    paragraph: {
                                        class: Paragraph,
                                        config: {
                                            preserveBlank: true
                                        },
                                        inlineToolbar: true 
                                    }, 
                                },
                            data: {{template.template|safe}}
                            })
                            
                            document.getElementById("editorjs").onclick = function save_editor() {
                                editor.save().then((outputData) => {
                                currentParagraph = editor.blocks.getCurrentBlockIndex();
                                chatSocket.send(JSON.stringify({
                                    'paragraph': currentParagraph,
                                }));
                                }).catch((error) => {
                                console.log('Saving failed: ', error)
                                });
                            }

                        </script>
                   
                    </div>
                    
                </div>
                <div id="sidebar_left">
                    <br>
                    <h3>Templates</h3>
                    <form autocomplete="off">
                        {% for template in templates %}
                        {% if template.template_name == 'Assignment Agent' %}
                        <input type="radio" class="checkbox" name="template" value="{{template.template_name}}" checked="checked"> {{template.template_name}}<br>
                        {% else %}
                        <input type="radio" class="checkbox" name="template" value="{{template.template_name}}"> {{template.template_name}}<br>
                        {% endif %}
                        {% endfor %}
                    </form>
                    <br>
                    <br>
                    <button  style="display: block; margin: 0 auto;" id="doc-export">
                         Export Document 
                    </button>
                </div>

            </div>
            <div class="child" id="site_content_chat">
                <div class="sidebar">
                    <br>
                    <h3> Available Models </h3>
                    {% for llm in llms %}
                    {% if llm.name == 'gpt-4' %}
                    <input type="radio" class="checkbox_model" name="model" value="{{llm.name}}" checked="checked"> {{llm.name}}<br>
                    {% else %}
                    <input type="radio" class="checkbox_model" name="model" value="{{llm.name}}"> {{llm.name}}<br>
                    {% endif %}
                    {% endfor %}
                    <h3> Parameters </h3>
                    <h5>NOTE: If the default parameters does not work for you, you can adjust them here.</h5>
                    <h5>NOTE: In order to better understand these parameters, refer to <a
                            href='https://huggingface.co/blog/how-to-generate'> This Blog </a> or <a
                            href='https://github.com/vllm-project/vllm/blob/main/vllm/sampling_params.py'> This Code.
                        </a> </h5>
                    <input type="number" step="0.1" name="top_p" min="0.01" max="1" value="1"> Top_p (default = 0.73)
                    <br>
                    <input type="number" step="0.1" name="max_tokens" min="1" max="32048"> Token Num (default
                    = null)<br>
                    <input type="number" step="0.1" name="temperature" min="0" max="2" value="1"> Temperature
                    (default= 1) <br>
                    <input type="number" step="0.1" name="frequency_penalty" min="-2" max="2" value="0"> Frequency
                    Penalty (default=0)<br>
                    <input type="number" step="0.1" name="presence_penalty" min="-2" max="2" value="0"> Presence Penalty
                    (default=0)<br>
                </div>

                <div id="chat-log">
                    <div class="message_log_container"
                        style="text-align: left;word-wrap: break-word; overflow-wrap: break-word;">
                        <span> Input your Key:
                            <input id="api_key">
                        </span>
                    </div>
                    <div id="chat-log_">
                    </div>

                </div>
                <textarea id="chat-message-input" rows="5" style="width: 50%;" name="message"></textarea>
                <input id="chat-message-submit" type="button" value="Send">
                {{ name|json_script:"name" }}
                {{ key|json_script:"key" }}
            </div>
        </div>
        <script>

            function download(mimeType, filename){
                editor.save().then((outputData) => {
                download_content = outputData
                download_content = JSON.stringify(download_content, null, 4)
                var a = document.createElement('a')
                console.log(download_content)
                var blob = new Blob([download_content], {type: mimeType})
                var url = URL.createObjectURL(blob)
                a.setAttribute('href', url)
                a.setAttribute('download', filename)
                a.click()
                }).catch((error) => {
                console.log('Saving failed: ', error)
                });

                
            }
            document.getElementById("doc-export").addEventListener("click", function() {
                download("application/json", 'Written_By_Professor_Parakeet.json')
            });
            const key = JSON.parse(document.getElementById('key').textContent);
            var ws_scheme = window.location.protocol == "https:" ? "wss" : "ws";
            const chatSocket = new WebSocket(
                ws_scheme
                + '://'
                + window.location.host
                + '/ws/engineer/'
                + key
                + '/'
            );

            chatSocket.onmessage = function (e) {
                const data = JSON.parse(e.data);
                if (data.role == 'Human') {
                    document.querySelector('#chat-log_').innerHTML += ('<div class="message_log_container" style="text-align: right;word-wrap: break-word; overflow-wrap: break-word;">  <span>' + " (" + data.role + "-" + data.time + ") " + data.message.replace(/\n/g, "<br>")  + '</span></div> ');
                }
                else if (data.holder) {
                    document.querySelector('#chat-log_').innerHTML += ('<div class="message_log_container" id =' + data.holderid + ' style="text-align: left;word-wrap: break-word; overflow-wrap: break-word;">  <span>' + data.role + "-" + data.time + ": " + '</span></div> ');
                }
                else if (data.stream_id) {
                    document.getElementById(data.stream_id).innerHTML += data.message.replace(/\n/g, "<br>") 
                }
                else if (data.paragraph || data.paragraph == 0) {
                    currentParagraph = data.paragraph    
                }
                else if (data.swap_instruction) {
                    document.getElementById("agent_instruction").value = data.swap_instruction; 
                    editor.render(JSON.parse(data.swap_template));
                }
                else if (data.agent_action == "STOP"){
                    var blockToAdd = {
                        type: 'paragraph', 
                        data: {
                        text: data.full_result.replace(/\n/g, "<br>") 
                        }
                    };
                    editor.blocks.insert(blockToAdd.type, blockToAdd.data, null, data.result_id);

                }
                else {
                    document.querySelector('#chat-log_').innerHTML += ('<div class="message_log_container" style="text-align: left;word-wrap: break-word; overflow-wrap: break-word;">  <span>' + data.message.replace(/\n/g, "<br>")  + " (" + data.role + "-" + data.time + ") " + '</span></div> ');
                }

                logTa = document.getElementById("chat-log")
                logTa.scrollTop = logTa.scrollHeight;
            };

            chatSocket.onclose = function (e) {
                console.error('Chat socket closed unexpectedly');
            };

            document.querySelector('#chat-message-input').focus();
            document.querySelector('#chat-message-input').onkeyup = function (e) {
                if (e.keyCode === 13) {  // enter, return
                    document.querySelector('#chat-message-submit').click();
                }
            };

            document.querySelector('#chat-message-submit').onclick = function (e) {
                var choosen_models = null;
                var mode = null;
                var choosen_template = null
                var inputElements = document.getElementsByClassName('checkbox_model');
                for (var i = 0; inputElements[i]; ++i) {
                    if (inputElements[i].checked) {
                        choosen_models = inputElements[i].value;
                        break;
                    }
                }
                var templateElements = document.getElementsByClassName('checkbox');
                for (var i = 0; templateElements[i]; ++i) {
                    if (templateElements[i].checked) {
                        choosen_template = templateElements[i].value;
                        break;
                    }
                }                
                var modeElements = document.getElementsByClassName('checkbox_mode');
                for (var i = 0; modeElements[i]; ++i) {
                    if (modeElements[i].checked) {
                        mode = modeElements[i].value;
                        break;
                    }
                }
                const agent_instruction = document.getElementById('agent_instruction').value
                const api_key = document.getElementById('api_key').value
                const top_p = document.getElementsByName("top_p")[0].value
                const max_tokens = document.getElementsByName("max_tokens")[0].value
                const temperature = document.getElementsByName("temperature")[0].value
                const frequency_penalty = document.getElementsByName("frequency_penalty")[0].value
                const presence_penalty = document.getElementsByName("presence_penalty")[0].value


                const messageInputDom = document.querySelector('#chat-message-input');
                const message = messageInputDom.value;
                chatSocket.send(JSON.stringify({
                    'mode': mode,
                    'currentParagraph': currentParagraph,
                    'message': message,
                    'key': api_key,
                    'choosen_models': choosen_models,
                    'choosen_template': choosen_template,
                    'role': 'Human',
                    'top_p': top_p,
                    'max_tokens': max_tokens,
                    'frequency_penalty': frequency_penalty,
                    'presence_penalty': presence_penalty,
                    'temperature': temperature,
                    'agent_instruction': agent_instruction
                }));
                messageInputDom.value = '';
            };
            function swaptemplate(event) {
                chatSocket.send(JSON.stringify({
                            'swap_template': event.target.value,
                    }));
            }
            document.querySelectorAll("input[name='template']").forEach((input) => {
                input.addEventListener('change', swaptemplate);
            });
        </script>
</body>
</html>