<!DOCTYPE HTML>
<html>

<head>
    <title>Engineering</title>
    <meta name="description" content="website description" />
    <meta name="keywords" content="website keywords, website keywords" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/static/css/pico-main/css/pico.min.css" />
    <link rel="stylesheet" href="/static/css/pico-main/css/pico.colors.min.css" />
    <link rel="shortcut icon" type="image/png" href="/static/image/favicon.ico" />
    <meta property="og:title" content="Inference Portal for multiple Large Language Models">
    <meta property="og:description" content="Inference Portal that offers API, Chat Bot Mode and more for multiple large language modelS">
    <meta property="og:type" content="article">
    <meta property="og:url" content="https://professorparakeet.com/static/image/android-chrome-192x192.png">
    <meta property="og:image" content="https://professorparakeet.com/static/image/android-chrome-192x192.png"/>
    <script src="/static/js/editor-js/editorjs.umd.js"></script>
    <script src="/static/js/editor-js/header.umd.min.js "></script>
    <script src="/static/js/editor-js/list.umd.min.js "></script>
    <script src="/static/js/editor-js/quote.umd.min.js "></script>
    <script src="/static/js/editor-js/editorjs-paragraph-with-alignment@3.0.0.0.js "></script>
    <script src="/static/js/editor-js/drag.min.js "></script>
    <script src="/static/js/editor-js/undo.min.js "></script>
    <script src="/static/js/editor-js/editorjs-codeflask@latest.js "></script>
    <script src="/static/js/editor-js/inline-code@latest.js"></script>
    <script src="/static/js/editor-js/underline.min.js"></script>
    <script src="/static/js/editor-js/table@latest.js"></script>
</head>
<style>
    #chat-log {
        width: 100% !important;
        min-width: 250px;
        min-height: 150px;
        resize: vertical;
        background-color: black;
        color: white;
        box-sizing: border-box;
        height: 393px;
        overflow: auto;
        border-radius: 5px;
        font-size: 14px;
        
    }
    .message_log_container {
        margin: 10px;
    }

    input {
        width: 7ch;
    }

    #editorjs{
        background-color: white;
        color: black;
        border-radius: 5px;
        padding: 25px;
        font-size: 16px;
    }

    #editorjs h1{
        font-size: 32px;
        color: black;
    }
    #editorjs h2{
        font-size: 28px;
        color: black;
    }
    #editorjs h3{
        font-size: 24px;
        color: black;
    }
    #editorjs h4{
        font-size: 20px;
        color: black;
    }
    #editorjs h5{
        font-size: 18px;
        color: black;
    }
    #editorjs h6{
        font-size: 16px;
        color: black;
    }
    #editorjs small{
        font-size: 14px;
        color: black;
    }
</style>

<body>
    <header class="container">
        <nav>
          <ul>
            <hgroup  onclick="window.location.href = '/';">
                <h1><b>Inference</b></h1>
              </hgroup>
          </ul>
          <ul>
            <li>
              <details  class="dropdown">
                <summary>
                  About
                </summary>
                <ul dir="rtl">
                  <li><a href="/">Introduction</a></li>
                  <li><a href="/model_infor">Model</a></li>
                  <li><a href="/manual">User Manual</a></li>
                  <li><a href="/contact">Contact Us</a></li>
                </ul>
              </details> 
            </li>
           
            <li>
              <details  class="dropdown">
                <summary  role="button" class="outline">
                  Modes
                </summary>
                <ul dir="rtl">
                  <li><a href="/prompt">Prompt and API</a></li>
                  <li><a  aria-current="page"  href="/chat">Chat Bot and Agent</a></li>
                </ul>
              </details>
            </li> 
            <li><a class="contrast" href="/buy">Get Key</a></li>
            <li><a class="contrast" href="/promptresponse">Response Log</a></li>
            
          </ul>
          
        </nav>
      
    </header>
    <hr>
    <main class="grid">
        <div class="container grid" style="grid-template-columns: 28% 70%;">
            <div id="container" style="padding-left: 10px;">
                <h3>Templates</h3>
                <form autocomplete="off">
                    {% for template in templates %}
                    {% if template.template_name == 'Assignment Agent' %}
                    <input type="radio" class="checkbox" name="template" value="{{template.template_name}}" checked="checked"> {{template.template_name}}<br>
                    {% else %}
                    <input type="radio" class="checkbox" name="template" value="{{template.template_name}}"> {{template.template_name}}<br>
                    {% endif %}
                    {% endfor %}
                </form>
                <hr>
                <button  style="display: block; margin: 0 auto;" id="doc-export">
                     Export Document 
                </button>
            </div>
            <div class="container" id="site_content_document">
                <div id="document-instruction">
                    <h3>Agent Instruction</h3>

                    <textarea id="agent_instruction" rows="20" style="font-size: 12px;" autocomplete="off">{{template.bot_instruct|safe}}</textarea>
                </div>
                <hr>
                <div id="document-template">
                    <h3 >Document Editor</h3>
                    <div id="editorjs">

                        <script>
                            var currentParagraph = 1
                            var download_content = ""
                            const editor = new EditorJS({ 
                            onReady: () => {
                                    new Undo({ editor });
                                    new DragDrop(editor);
                                },
                            holder: 'editorjs', 
                            minHeight : 140,
                            
                            tools: { 
                                    header: {
                                        class: Header, 
                                        inlineToolbar: ['link'] 
                                        }, 
                                    list: { 
                                        class: List, 
                                        inlineToolbar: true 
                                        }, 
                                    quote: {
                                        class: Quote,
                                        inlineToolbar: true,
                                    },
                                    paragraph: {
                                        class: Paragraph,
                                        config: {
                                            preserveBlank: true
                                        },
                                        inlineToolbar: true 
                                    }, 
                                    underline: Underline,
                                    code : {
                                        class: editorjsCodeflask,
                                        inlineToolbar: true,
                                    },
                                    inlineCode: {
                                        class: InlineCode,
                                        shortcut: 'CMD+SHIFT+M',
                                    },
                                    table: Table,
       
                                },
                            data: {{template.template|safe}}
                            })
                            
                            document.getElementById("editorjs").onclick = function save_editor() {
                                editor.save().then((outputData) => {
                                currentParagraph = editor.blocks.getCurrentBlockIndex();
                                chatSocket.send(JSON.stringify({
                                    'paragraph': currentParagraph,
                                }));
                                }).catch((error) => {
                                console.log('Saving failed: ', error)
                                });
                            }

                        </script>
                   
                    </div>
                    
                </div>
            </div>

            </div>
            <div class="container grid" style="grid-template-columns: 55% 45%;" id="site_content_chat">
                <div clas="container">
                    <h3> Chat </h3>
                    <div id="chat-log">
                        <div class="message_log_container"
                            style="text-align: left;word-wrap: break-word; overflow-wrap: break-word;">
                            <span> Input your Key:
                                <input style="height: 20px; width: 20ch;" id="api_key">
                            </span>
                        </div>
                        <div id="chat-log_">
                        </div>

                        </div>
                        <hr>
                        <div role="group">
                            <input id="chat-message-input"  name="message">
                            <input type="image" style=" width: 15%; background-color: rgb(1, 114, 173);" id="chat-message-submit" src="/static/image/5208419_arrow_forward_navigation_send_share_icon.svg" >
                        </div>
                        {{ name|json_script:"name" }}
                        {{ key|json_script:"key" }}
                    </div>
                <div style="max-width: 380px; " class="container">
                    <h3> Available Models </h3>
                    {% for llm in llms %}
                    {% if llm.name == 'gpt-4' %}
                    <input type="radio" class="checkbox_model" name="model" value="{{llm.name}}" checked="checked"> {{llm.name}}<br>
                    {% else %}
                    <input type="radio" class="checkbox_model" name="model" value="{{llm.name}}"> {{llm.name}}<br>
                    {% endif %}
                    {% endfor %}
                    <h3> Parameters </h3>
                    <small><i>NOTE: If the default parameters does not work for you, you can adjust them here.</i></small><br>
                    <small><i>NOTE: In order to better understand these parameters, refer to <a
                            href='https://huggingface.co/blog/how-to-generate'> This Blog </a> or <a
                            href='https://github.com/vllm-project/vllm/blob/main/vllm/sampling_params.py'> This Code.
                        </a> </i></small>
                    <hr>
                    <label for="top_p">Top_p:</label>
                    <div class="grid" style="grid-template-columns: 80% 20%;"> 
                      <input type="range"  step=".001"  name="top_p" min="0.01" max="1" value="0.73" oninput="this.nextElementSibling.value = this.value">
                      <output>0.73</output>
                    </div><br>
                    <label for="max_tokens">Max_tokens:</label>
                    <div class="grid" style="grid-template-columns: 80% 20%;"> 
                      <input type="range"  step="1"  name="max_tokens" min="0" max="8192" value="0" oninput="this.nextElementSibling.value = this.value">
                      <output>null</output>
                    </div><br>
                    <label for="temperature">Temperature:</label>
                    <div class="grid" style="grid-template-columns: 80% 20%;"> 
                        <input type="range"  step=".001"  name="temperature" min="0" max="1" value="0.72" oninput="this.nextElementSibling.value = this.value">
                        <output>0.72</output>
                      </div><br>
                    <label for="frequency_penalty">Frequency penalty:</label>
                    <div class="grid" style="grid-template-columns: 80% 20%;"> 
                      <input type="range"  step=".001"  name="frequency_penalty" min="-2" max="2" value="0" oninput="this.nextElementSibling.value = this.value">
                      <output>0</output>
                    </div><br>
                    <label for="presense_penalty">Presence penalty:</label>
                    <div class="grid" style="grid-template-columns: 80% 20%;"> 
                      <input type="range"  step=".001"  name="presence_penalty" min="-2" max="2" value="0" oninput="this.nextElementSibling.value = this.value">
                      <output>0</output>
                    </div>
                    
                </div>
  
                </div>
            </div>
        </main>
        <script>

            function download(mimeType, filename){
                editor.save().then((outputData) => {
                download_content = outputData
                download_content = JSON.stringify(download_content, null, 4)
                var a = document.createElement('a')
                console.log(download_content)
                var blob = new Blob([download_content], {type: mimeType})
                var url = URL.createObjectURL(blob)
                a.setAttribute('href', url)
                a.setAttribute('download', filename)
                a.click()
                }).catch((error) => {
                console.log('Saving failed: ', error)
                });

                
            }
            document.getElementById("doc-export").addEventListener("click", function() {
                download("application/json", 'Written_By_Professor_Parakeet.json')
            });
            const key = JSON.parse(document.getElementById('key').textContent);
            var ws_scheme = window.location.protocol == "https:" ? "wss" : "ws";
            const chatSocket = new WebSocket(
                ws_scheme
                + '://'
                + window.location.host
                + '/ws/engineer/'
                + key
                + '/'
            );

            chatSocket.onmessage = function (e) {
                const data = JSON.parse(e.data);
                if (data.role == 'Human') {
                    document.querySelector('#chat-log_').innerHTML += ('<div class="message_log_container" style="text-align: right;word-wrap: break-word; overflow-wrap: break-word;">  <span>' + " (" + data.role + "-" + data.time + ") " + data.message.replace(/\n/g, "<br>")  + '</span></div> ');
                }
                else if (data.holder) {
                    document.querySelector('#chat-log_').innerHTML += ('<div class="message_log_container" id =' + data.holderid + ' style="text-align: left;word-wrap: break-word; overflow-wrap: break-word;">  <span>' + data.role + "-" + data.time + ": " + '</span></div> ');
                }
                else if (data.stream_id) {
                    document.getElementById(data.stream_id).innerHTML += data.message.replace(/\n/g, "<br>") 
                }
                else if (data.paragraph || data.paragraph == 0) {
                    currentParagraph = data.paragraph    
                }
                else if (data.swap_instruction) {
                    document.getElementById("agent_instruction").value = data.swap_instruction; 
                    editor.render(JSON.parse(data.swap_template));
                }
                else if (data.agent_action == "STOP"){
                    var blockToAdd = {
                        type: 'paragraph', 
                        data: {
                        text: data.full_result.replace(/\n/g, "<br>") 
                        }
                    };
                    editor.blocks.insert(blockToAdd.type, blockToAdd.data, null, data.result_id);

                }
                else {
                    document.querySelector('#chat-log_').innerHTML += ('<div class="message_log_container" style="text-align: left;word-wrap: break-word; overflow-wrap: break-word;">  <span>' + data.message.replace(/\n/g, "<br>")  + " (" + data.role + "-" + data.time + ") " + '</span></div> ');
                }

                logTa = document.getElementById("chat-log")
                logTa.scrollTop = logTa.scrollHeight;
            };

            chatSocket.onclose = function (e) {
                console.error('Chat socket closed unexpectedly');
            };

            document.querySelector('#chat-message-input').focus();
            document.querySelector('#chat-message-input').onkeyup = function (e) {
                if (e.keyCode === 13) {  // enter, return
                    document.querySelector('#chat-message-submit').click();
                }
            };

            document.querySelector('#chat-message-submit').onclick = function (e) {
                var choosen_models = null;
                var mode = null;
                var choosen_template = null
                var inputElements = document.getElementsByClassName('checkbox_model');
                for (var i = 0; inputElements[i]; ++i) {
                    if (inputElements[i].checked) {
                        choosen_models = inputElements[i].value;
                        break;
                    }
                }
                var templateElements = document.getElementsByClassName('checkbox');
                for (var i = 0; templateElements[i]; ++i) {
                    if (templateElements[i].checked) {
                        choosen_template = templateElements[i].value;
                        break;
                    }
                }                
                var modeElements = document.getElementsByClassName('checkbox_mode');
                for (var i = 0; modeElements[i]; ++i) {
                    if (modeElements[i].checked) {
                        mode = modeElements[i].value;
                        break;
                    }
                }
                const agent_instruction = document.getElementById('agent_instruction').value
                const api_key = document.getElementById('api_key').value
                const top_p = document.getElementsByName("top_p")[0].value
                var max_tokens = document.getElementsByName("max_tokens")[0].value
                if (max_tokens == 0){
                    max_tokens = ""
                }
                console.log(max_tokens)
                const temperature = document.getElementsByName("temperature")[0].value
                const frequency_penalty = document.getElementsByName("frequency_penalty")[0].value
                const presence_penalty = document.getElementsByName("presence_penalty")[0].value


                const messageInputDom = document.querySelector('#chat-message-input');
                const message = messageInputDom.value;
                chatSocket.send(JSON.stringify({
                    'mode': mode,
                    'currentParagraph': currentParagraph,
                    'message': message,
                    'key': api_key,
                    'choosen_models': choosen_models,
                    'choosen_template': choosen_template,
                    'role': 'Human',
                    'top_p': top_p,
                    'max_tokens': max_tokens,
                    'frequency_penalty': frequency_penalty,
                    'presence_penalty': presence_penalty,
                    'temperature': temperature,
                    'agent_instruction': agent_instruction
                }));
                messageInputDom.value = '';
            };
            function swaptemplate(event) {
                chatSocket.send(JSON.stringify({
                            'swap_template': event.target.value,
                    }));
            }
            document.querySelectorAll("input[name='template']").forEach((input) => {
                input.addEventListener('change', swaptemplate);
            });
        </script>
</body>
</html>