{% extends "component_html/base.html" %}

{% block head %}
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/editor-js/editorjs.umd.js"></script>
<script src="/static/js/editor-js/header.umd.min.js "></script>
<script src="/static/js/editor-js/list.umd.min.js "></script>
<script src="/static/js/editor-js/quote.umd.min.js "></script>
<script src="/static/js/editor-js/editorjs-paragraph-with-alignment@3.0.0.0.js "></script>
<script src="/static/js/editor-js/drag.min.js "></script>
<script src="/static/js/editor-js/undo.min.js "></script>
<script src="/static/js/editor-js/editorjs-codeflask@latest.js "></script>
<script src="/static/js/editor-js/inline-code@latest.js"></script>
<script src="/static/js/editor-js/underline.min.js"></script>
<script src="/static/js/editor-js/table@latest.js"></script>
<script src="/static/js/Parser.browser.min.js"></script>
<script type="text/javascript" src="/static/js/colour-theme-toggle.js"></script>
<link rel="stylesheet" id="picotheme" href="/static/css/pico-main/css/pico.min.css" />
<link rel="stylesheet" href="/static/css/lagent.css">
<script src="/static/js/pdfmake.min.js"></script>
<script src="/static/js/vfs_fonts.js"></script>
<script src="/static/js/html-to-pdfmake.js"></script>

{% endblock head %}

{% block content %}
<style>
    html,
    body, 
    main,
    .pagewrapper 
    {
        min-width: 1250px!important;
    }
</style>
<main class="grid" style="grid-template-columns: 50% 45%;">
    <div class="grid" style="grid-template-columns: 28% 70%; ">
        <div id="container" style="padding-left: 10px; ">
            <h4>Structure</h4>
            <ul id="document-structure">
                {% for child in child_template %}
                {% if child.name == "Introduction"%}
                <li><a class="primary">{{child.name}}</a></li>
                {% else %}
                <li><a class="secondary">{{child.name}}</a></li>
                {% endif %}
                {% endfor %}
            </ul>
            <hr>
            <div class="grid">
                <a style="display: block; margin-left: 10px; " id="doc-export">
                    Export:
                </a>
                <select name="format" id="format" aria-label="Format" required>
                    <option>json</option>
                    <option>html</option>
                    <option>txt</option>
                    <option>pdf</option>
                </select>
            </div>
        </div>
        <div class="container"  id="site_content_document">
            <div id="document-instruction">
                <h4>Agent Instruction</h4>
                <textarea id="agent_instruction" rows="10" style="font-size: 12px;"
                    autocomplete="off">{{template.instruct|safe}}</textarea>
            </div>
            <hr>
            <div id="document-child-instruction">
                <h4>Child Instruction</h4>
                {% for child in child_template %}
                {% if child.name == "Introduction"%}
                <textarea id="child_instruction" rows="10" style="font-size: 12px;"
                    autocomplete="off">{{child.instruct|safe}}</textarea>
                {% endif %}
                {% endfor %}
            </div>
            <hr>
            <div id="document-template">
                <h3>Editor</h4>
                    <div id="editorjs">

                        <script>
                            var currentParagraph = 1
                            var download_content = ""
                            const editor = new EditorJS({
                                onReady: () => {
                                    new Undo({ editor });
                                    new DragDrop(editor);
                                },
                                holder: 'editorjs',
                                minHeight: 140,

                                tools: {
                                    header: {
                                        class: Header,
                                        inlineToolbar: ['link']
                                    },
                                    list: {
                                        class: List,
                                        inlineToolbar: true
                                    },
                                    quote: {
                                        class: Quote,
                                        inlineToolbar: true,
                                    },
                                    paragraph: {
                                        class: Paragraph,
                                        config: {
                                            preserveBlank: true
                                        },
                                        inlineToolbar: true
                                    },
                                    underline: Underline,
                                    code: {
                                        class: editorjsCodeflask,
                                        inlineToolbar: true,
                                    },
                                    inlineCode: {
                                        class: InlineCode,
                                        shortcut: 'CMD+SHIFT+M',
                                    },
                                    table: Table,

                                },
                                data: {{ template.default_editor_template | safe }}
                            })

                            document.getElementById("editorjs").onclick = function save_editor() {
                                editor.save().then((outputData) => {
                                    currentParagraph = editor.blocks.getCurrentBlockIndex();
                                    chatSocket.send(JSON.stringify({
                                        'paragraph': currentParagraph,
                                    }));
                                }).catch((error) => {
                                    console.log('Saving failed: ', error)
                                });
                            }
                        </script>
                    </div>
            </div>
        </div>

    </div>
    <div class="grid" style="grid-template-columns: 65% 35%;" id="site_content_chat">
        <div clas="container">
            <div class="grid" style="grid-template-columns: 35% 60%;">
                <h4> Chat with:</h4>
                <select autocomplete="off" name="template-select" id="template-select" aria-label="Select your agent..."
                    required>
                    {% for template in templates %}
                    {% if template.name == 'Assignment Agent' %}
                    <option selected name="template" value="{{template.name}}">
                        {{template.name}}<br>
                        {% else %}
                    <option name="template" value="{{template.name}}"> {{template.name}}<br>
                        {% endif %}
                        {% endfor %}
                </select>
            </div>
            <div id="chat-log">
                <div class="message_log_container"
                    style="text-align: left;word-wrap: break-word; overflow-wrap: break-word;">
                    <span> Input your Key:
                        <input type="password" style="height: 20px; width: 20ch; font-size:calc(10px + 0.3vw);" id="api_key">
                    </span>
                </div>
                <div id="chat-log_">
                </div>

            </div>
            <hr>
            <div class="input-wrapper">
                <textarea id="chat-message-input" name="message"></textarea>
                <button id="chat-message-submit">Send</button>
            </div>
            {{ name|json_script:"name" }}
            {{ key|json_script:"key" }}
        </div>
        <div style="max-width: 380px;  font-size:calc(10px + 0.3vw);  padding-left: 1px;" class="container">
            <h4> Available Models </h4>
            {% for llm in llms %}
            {% if llm.name == 'gpt-4' %}
            <input type="radio" class="checkbox_model" name="model" value="{{llm.name}}" checked="checked">
            {{llm.name}}<br>
            {% else %}
            <input type="radio" class="checkbox_model" name="model" value="{{llm.name}}"> {{llm.name}}<br>
            {% endif %}
            {% endfor %}
            <h4> Parameters </h4>
            <small><i>NOTE: If the default parameters does not work for you, you can adjust them
                    here.</i></small><br>
            <small><i>NOTE: In order to better understand these parameters, refer to <a
                        href='https://huggingface.co/blog/how-to-generate'> This Blog </a> or <a
                        href='https://github.com/vllm-project/vllm/blob/main/vllm/sampling_params.py'> This Code.
                    </a> </i></small>
            <hr>
            <label for="top_p">Top_p:</label>
            <div class="grid" style="grid-template-columns: 80% 20%;">
                <input type="range" step=".001" name="top_p" min="0.01" max="1.0" value="0.73"
                    oninput="this.nextElementSibling.value =  parseFloat(this.value).toFixed(2)">
                <output>0.73</output>
            </div><br>
            <label for="max_tokens">Max_tokens:</label>
            <div class="grid" style="grid-template-columns: 80% 20%;">
                <input type="range" step="1" name="max_tokens" min="0" max="8192" value="0"
                    oninput="this.nextElementSibling.value = this.value">
                <output>null</output>
            </div><br>
            <label for="temperature">Temperature:</label>
            <div class="grid" style="grid-template-columns: 80% 20%;">
                <input type="range" step=".001" name="temperature" min="0" max="1.0" value="0.72"
                    oninput="this.nextElementSibling.value = parseFloat(this.value).toFixed(2)">
                <output>0.72</output>
            </div><br>
            <label for="frequency_penalty">Frequency penalty:</label>
            <div class="grid" style="grid-template-columns: 80% 20%;">
                <input type="range" step=".001" name="frequency_penalty" min="-2.0" max="2.0" value="0"
                    oninput="this.nextElementSibling.value =  parseFloat(this.value).toFixed(2)">
                <output>0</output>
            </div><br>
            <label for="presense_penalty">Presence penalty:</label>
            <div class="grid" style="grid-template-columns: 80% 20%;">
                <input type="range" step=".001" name="presence_penalty" min="-2.0" max="2.0" value="0"
                    oninput="this.nextElementSibling.value =  parseFloat(this.value).toFixed(2)">
                <output>0</output>
            </div>

        </div>

    </div>
    </div>
</main>

<script>
    const parser = new edjsParser();
    function download(mimeType, filename) {
        editor.save().then((outputData) => {
            download_content = outputData
            if (mimeType == "application/json") {
                download_content = JSON.stringify(download_content, null, 4)
            }
            else if (mimeType == "text/html") {
                download_content = parser.parse(download_content);
            }
            else if (mimeType == "text/plain") {
                html = parser.parse(download_content);
                html = html.toString()
                html = html.replace(/<style([\s\S]*?)<\/style>/gi, '');
                html = html.replace(/<script([\s\S]*?)<\/script>/gi, '');
                html = html.replace(/<\/div>/ig, '\n');
                html = html.replace(/<\/li>/ig, '\n');
                html = html.replace(/<li>/ig, '  *  ');
                html = html.replace(/<\/ul>/ig, '\n');
                html = html.replace(/<\/p>/ig, '\n');
                html = html.replace(/<br\s*[\/]?>/gi, "\n");
                html = html.replace(/<[^>]+>/ig, '');
                download_content = html
            }
            else if (mimeType == "application/pdf") {
                html = parser.parse(download_content);
                html_to_pdf = htmlToPdfmake(html);
                pdf = {content:html_to_pdf};
                pdfMake.createPdf(pdf).download('Written_By_Professor_Parakeet.pdf')
            }
            if (mimeType != "application/pdf") {
                var a = document.createElement('a')
                var blob = new Blob([download_content], { type: mimeType })
                var url = URL.createObjectURL(blob)
                a.setAttribute('href', url)
                a.setAttribute('download', filename)
                a.click()
            }
        }).catch((error) => {
            console.log('Saving failed: ', error)
        });
    }
    document.getElementById("doc-export").addEventListener("click", function () {
        var format = document.getElementById("format").value
        if (format == "json") {
            download("application/json", 'Written_By_Professor_Parakeet.json')
        }
        else if (format == "html") {
            download("text/html", 'Written_By_Professor_Parakeet.html')
        }
        else if (format == "txt") {
            download("text/plain", 'Written_By_Professor_Parakeet.txt')
        }
        else if (format == "pdf") {
            download("application/pdf", 'Written_By_Professor_Parakeet.pdf')
        }
    });
    const key = JSON.parse(document.getElementById('key').textContent);
    var ws_scheme = window.location.protocol == "https:" ? "wss" : "ws";
    const chatSocket = new WebSocket(
        ws_scheme
        + '://'
        + window.location.host
        + '/ws/{{destination}}/'
        + key
        + '/'
    );

    chatSocket.onmessage = function (e) {
        const data = JSON.parse(e.data);
        if (data.role == 'Human') {
            document.querySelector('#chat-log_').innerHTML += ('<div class="message_log_container" style="text-align: right;word-wrap: break-word; overflow-wrap: break-word;">  <span>' + " (" + data.role + "-" + data.time + ") " + data.message.replace(/\n/g, "<br>") + '</span></div> ');
        }
        else if (data.holder) {
            document.querySelector('#chat-log_').innerHTML += ('<div class="message_log_container" id =' + data.holderid + ' style="text-align: left;word-wrap: break-word; overflow-wrap: break-word;">  <span>' + data.role + "-" + data.time + ": " + ' <span id= "thinking" aria-busy="true"> Thinking time...</span></span></div> ');
        }
        else if (data.stream_id) {
            document.getElementById(data.stream_id).innerHTML += data.message.replace(/\n/g, "<br>")
            thinking = document.getElementById("thinking");
            if (thinking != null){
                thinking.remove();
            }
        }
        else if (data.paragraph || data.paragraph == 0) {
            currentParagraph = data.paragraph
        }
        else if (data.child_instruct) {
            document.getElementById("child_instruction").value = data.child_instruct;
        }
        else if (data.swap_instruction) {
            document.getElementById("agent_instruction").value = data.swap_instruction;
            document.getElementById("child_instruction").value = data.default_child_instruct;
            editor.render(JSON.parse(data.swap_template));
            document.querySelector('#document-structure').innerHTML = ""
            for (let child of data.child_template_name_list) {
                if (child == data.default_child) {
                    document.querySelector('#document-structure').innerHTML += ("<li><a class='primary'>" + child + "</a></li>")
                }
                else {
                    document.querySelector('#document-structure').innerHTML += ("<li><a class='secondary'>" + child + "</a></li>")
                }
            }
        }
        else if (data.agent_action == "STOP") {
            var blockToAdd = {
                type: 'paragraph',
                data: {
                    text: data.full_result.replace(/\n/g, "<br>")
                }
            };
            editor.blocks.insert(blockToAdd.type, blockToAdd.data, null, data.result_id);
        }
        else {
            document.querySelector('#chat-log_').innerHTML += ('<div class="message_log_container" style="text-align: left;word-wrap: break-word; overflow-wrap: break-word;">  <span>' + data.message.replace(/\n/g, "<br>") + " (" + data.role + "-" + data.time + ") " + '</span></div> ');
        }

        logTa = document.getElementById("chat-log")
        logTa.scrollTop = logTa.scrollHeight;
    };
    chatSocket.onclose = function (e) {
        console.error('Chat socket closed unexpectedly');
    };
    var textarea = document.getElementById("chat-message-input");
    var textarea_submit_button = document.querySelector('#chat-message-submit')
    textarea.focus();
    textarea.onkeyup = function (e) {
        if (e.keyCode === 13 && !e.shiftKey) {
            textarea_submit_button.click();
        }
    };
    var textarea_size_litmit = 300;
    textarea.oninput = function () {
        textarea.style.height = "";
        textarea.style.height = Math.min(textarea.scrollHeight, textarea_size_litmit) + "px";
    };
    textarea_submit_button.onclick = function (e) {
        textarea.style.height =  "100px";
        var inputElements = document.getElementsByClassName('checkbox_model');
        for (var i = 0; inputElements[i]; ++i) {
            if (inputElements[i].checked) {
                choosen_models = inputElements[i].value;
                break;
            }
        }
        var choosen_template = document.getElementById("template-select").value;
        const agent_instruction = document.getElementById('agent_instruction').value
        const child_instruction = document.getElementById('child_instruction').value
        const api_key = document.getElementById('api_key').value
        const top_p = document.getElementsByName("top_p")[0].value
        var max_tokens = document.getElementsByName("max_tokens")[0].value
        if (max_tokens == 0) {
            max_tokens = null
        }

        const temperature = document.getElementsByName("temperature")[0].value
        const frequency_penalty = document.getElementsByName("frequency_penalty")[0].value
        const presence_penalty = document.getElementsByName("presence_penalty")[0].value
        const message = textarea.value;
        if (message.trim() !== "") {
            chatSocket.send(JSON.stringify({
                'currentParagraph': currentParagraph,
                'message': message,
                'key': api_key,
                'choosen_models': choosen_models,
                'choosen_template': choosen_template,
                'role': 'Human',
                'top_p': parseFloat(top_p).toFixed(2),
                'max_tokens': max_tokens,
                'frequency_penalty': parseFloat(frequency_penalty).toFixed(2),
                'presence_penalty': parseFloat(presence_penalty).toFixed(2),
                'temperature': parseFloat(temperature).toFixed(2),
                'agent_instruction': agent_instruction,
                'child_instruction': child_instruction
            }));
            textarea.value = '';
        };
    }
    var template_select = document.getElementById('template-select');
    template_select.onchange = (event) => {
        var template = event.target.value;
        chatSocket.send(JSON.stringify({
            'swap_template': template,
        }));
    }
    var ul = document.getElementById('document-structure');
    ul.onclick = function (event) {
        var lis = document.querySelectorAll('#document-structure a');
        for (var j = 0; j < lis.length; j++) {
            console.log(lis[j].className = "secondary");
        }
        if (event.target.tagName == "A") {
            event.target.className = "primary"
            chatSocket.send(JSON.stringify({
                'swap_child_instruct': event.target.innerHTML,
            }));
        }
    };
</script>
{% endblock content %}