{% extends "component_html/base.html" %}

{% block head %}

<link rel="stylesheet" id="picotheme" href="/static/css/pico-main/css/pico.min.css" />

<link href="/static/css/prism.css" rel="stylesheet" />
<script src="/static/js/prism.js"></script>
<style>
  .stickytot {
    position: -webkit-sticky;
    position: sticky;
    top: 150px;
    background-color: rgba(4, 18, 29, 0.95);
    padding: 25px;
    min-height: 100px;
    min-width: 260px;
    font-size:calc(10px + 0.3vw);
  }
  #content{
    font-size:calc(10px + 0.3vw);
  }
  
</style>
{% endblock head %}

{% block content %}

<main>
  <div class="container">
    <div class="grid" style="grid-template-columns: 70% 30%">

      <div id="content" class="container">
        <!-- insert the page content here -->
        {% for c in content_list%}
        {% if c.a_type == "introduction"%}
        {{c.content|safe}}
        {% endif %}
        {% if c.a_type == "authentication"%}
        {{c.content|safe}}
        {% endif %}
        {% if c.a_type == "inference"%}
        {{c.content|safe}}
        {% endif %}
        {% if c.a_type == "behavior"%}
        {{c.content|safe}}
        {% endif %}
        {% endfor %}
      </div>
      <div>
        <div data-theme="dark" class="stickytot">
          <h2>Table of content</h2>
          <ul>
            <li><a href="#1">1. Setting Up Your API Key</a>
              <ul>
                <li><a href="#1.1">1.1 Creating a New API Key</a></li>
                <li><a href="#1.2">1.2 Making API Request</a></li>
                <li><a href="#1.3">1.3 Edit or Delete API Key</a></li>
                <li><a href="#1.4">1.4 API Usage Report</a></li>
              </ul>
            </li>
            <li><a href="#2">2. Credit & Authentication</a>
              <ul>
                <li><a href="#2.1">2.1 Payment Methods</a></li>
                <li><a href="#2.2">2.2 Cost Calculation</a></li>
                <li><a href="#2.3">2.3 Authentication</a></li>
              </ul>
            </li>
            <li><a href="#3">3. Inference Modes</a>
              <ul>
                <li><a href="#3.1">3.1 API Endpoints</a></li>
                <li><a href="#3.2">3.2 Chat Bot Mode</a></li>
                <li><a href="#3.3">3.3 Engineering Mode</a></li>
              </ul>
            </li>
            <li><a href="#4">4. Website Behaviors</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock content %}