<!DOCTYPE HTML>
<html>

<head>
  <title>Model</title>
  <meta name="description" content="website description" />
  <meta name="keywords" content="website keywords, website keywords" />
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" type="text/css" href="static/css/style.css" title="style" />
  <link rel="shortcut icon" type="image/png" href="static/image/favicon.ico"/>
</head>
<style>
  .collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 570px;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }
  
  .active, .collapsible:hover {
    background-color: #555;
  }
  
  .content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    width: 534px;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
  }
  </style>
<body>
  <div id="main">
    <div id="header">
      <div id="logo">
        <div id="logo_text">
          <!-- class="logo_colour", allows you to change the colour of the text -->
          <h1><a href="index.html">Inference</span></a></h1>

        </div>
      </div>
      <div id="menubar">
        <ul id="menu">
          <!-- put class="selected" in the li tag for the selected page - to highlight which page you're on -->
          <li><a href="/"> Intro</a></li>
          <li class="selected"><a href="/model_infor.html">Models</a></li>
          <li><a href="/buy.html"> Top Up</a></li>
          <li><a href="/prompt.html">Promtps</a></li>
          <li ><a href="/chat.html">Chat Bot Mode</a></li>
          <li><a href="contact.html">Contact Us</a></li>
        </ul>
      </div>
    </div>
    <div id="site_content">
      <div id="site_content">
        <div class="sidebar">
          <!-- insert your sidebar items here -->
          <h2>API endpoint</h2>
          <h4>Python example:</h4>
          <pre style="font-size: 12px">
r = requests.post("[HOST]/api/",  
json={"prompt": "hola",
"name": "[key name]", 
"key": "[key]", 
"model" : "[model name]",
'top_k': [top_k],
'top_p': [top_p],
'best_of': [best_of],
'max_tokens': [max_tokens],
'frequency_penalty': [fre_penalty],
'presense_penalty': [pre_penalty],
'temperature': [temperature],
'beam': ["True"/"False"],
'early_stopping': ["True"/"False"],
'length_penalty': [length_penalty]
}) 

print(r.json())
  </pre>
  <h4>CURL example:</h4>
  <pre style="font-size: 12px">
curl "[HOST]/api/" --header 
'Content-Type: application/json' 
--request POST
--data-binary
'{"prompt": "hola",
"name": "[key name]", 
"key": "[key]", 
"model" :  "[model name]"
'top_k': [top_k],
'top_p': [top_p],
'best_of': [best_of],
'max_tokens': [max_tokens],
'frequency_penalty': [freq_penalty],
'presense_penalty': [pre_penalty],
'temperature': [temperature],
'beam': ["True"/"False"],
'early_stopping': ["True"/"False"],
'length_penalty': [length_penalty]
}'
          <pre>
          <p><a href="/api">Test API</a></p>
          <p></p>
  
  
        </div>
      <h2>Available Models:</h2>
      {% for llm in llms %}
      <button class="collapsible">{{llm.name}}</button>
      <div class="content">
        <p>{{llm.desc | linebreaks | safe }} </p>
      </div>
      {% endfor %}
    </div>

  </div>

  <script>
    var coll = document.getElementsByClassName("collapsible");
    var i;
    
    for (i = 0; i < coll.length; i++) {
      coll[i].addEventListener("click", function() {
        this.classList.toggle("active");
        var content = this.nextElementSibling;
        if (content.style.maxHeight){
          content.style.maxHeight = null;
        } else {
          content.style.maxHeight = content.scrollHeight + "px";
        } 
      });
    }
    </script>
</body>
</html>
