{% extends "component_html/base.html" %}

{% block content %}
  <main class="container">
    <div id="site_content" class="grid">
      <div class="container" id="content">
        <h2>Available Models:</h2>
        {% for llm in llms %}
        <details>
          <summary>
            {{llm.name}}
          </summary>
          <p>{{llm.desc|linebreaks}} </p>
        </details>
        {% endfor %}
      </div>
      <div class="container">

        <h2>Servers Status</h2>

        <table style="  margin-left: auto; margin-right: auto; ">
          <tr>
            <th>Servers</th>
            <th>Models</th>
            <th>Status</th>
            <th>Availability</th>
          </tr>
          {% for server in servers %}
          <tr>
            <td>Server-{{ server.id }}</td>
            <td> {{server.hosted_model.name }}</td>
            <td>{{server.status}}</td>
            <td>{{server.availability}}</td>
          </tr>
          {% endfor %}
        </table>
        <small><i>NOTE:
            <li>Status can be "pending", "running", "stopping" and "stopped" which refers to the current stage of
              GPU servers</li>
            <li>Availability can be "availabe" and "not availabe" which refers to the ability of users to boot the
              instance by themselves</li>
            <li>Highly demanded models are load-balanced across multiple servers</li>
          </i></small>
      </div>

    </div>
  </main>
  {% endblock content %}