{% extends "component_html/base.html" %}

{% block head %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script type="text/javascript" src="/static/js/refresh-captcha.js"></script>
{% endblock head %}
{% block content%}
<main>
  <div class="container">
    <h2>Enter your key </h2>
    <form method="post">
      {% csrf_token %}
      <div class="grid">
        {{form.key_name}}
        {{form.key_}}
      </div>
      <div class="grid">
        <div class="container">
          <div class="grid">
            {{form.captcha.label}}
            {{form.captcha}}
          </div>

        </div>
        <div class="container">
          <input class="submit" type="submit" value="Check" />
        </div>
      </div>
    </form>

    {%for message in messages %}
    <h4> {{message}} </h4>
    {%endfor%}
  </div>
</main>

{% endblock content%}