{% extends "component_html/base.html" %}

{% block head %}
<script src="/static/js/jquery.min.js"></script>
<link rel="stylesheet" href="/static/css/dataTables.dataTables.css" />
<script src="/static/js/dataTables.js"></script>
<script src="/static/js/dataTables.buttons.js"></script>
<script src="/static/js/buttons.dataTables.js"></script>
<script src="/static/js/jszip.min.js"></script>
<script src="/static/js/pdfmake.min.js"></script>
<script src="/static/js/vfs_fonts.js"></script>
<script src="/static/js/buttons.html5.min.js"></script>
<script src="/static/js/buttons.print.min.js"></script>


{% endblock head %}
{% block content %}
<style>
  html,
  body, 
  main,
  .pagewrapper 
  {
      min-width: 1250px!important;
  }
  table{
    font-size: 14px;
  }
  h6{
    padding-top: 20px;
  }
</style>
<main  id="site_content">
  <div class="container">
    <h1>View, query or export your previous inferences</h1>
    <table id="logTable" style="  margin-left: auto;
        margin-right: auto; ">
      <thead>
        <tr>
          <th>No.</th>
          <th>Prompts</th>
          <th>Responses</th>
          <th>Models</th>
          <th>Created Time</th>
          <th>Type</th>
          <th>Cost</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
  </div>
  <script>
    new DataTable('#logTable', {
      responsive: true,
      layout: {
        topStart: {
          buttons: ['copy', 'csv', 'excel', 'pdf', 'print']
        }
      },
      "processing": true,
      "serverSide": true,
      "ajax": "/log/{{key}}"
    });


  </script>
</main>
{% endblock content %}