{% extends "component_html/base.html" %}

{% block head %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script type="text/javascript" src="/static/js/refresh-captcha.js"></script>
{% endblock head %}
{% block content%}
<main>
  <style>
label {
  display: inline-block;
  width: 100px;
  text-align: right;
}

  </style>
  <div class="container">
    <hr>
  <div class="grid">
    <b>Enter your key: </b>
    <form method="post">
      {% csrf_token %}

        <div class="container">
          {{form}}
        </div>
     
          <input class="submit" type="submit" value="Check" />
 
    </form>
    <div>
    {%for message in messages %}
    <h4> {{message}} </h4>
    {%endfor%}
  </div>

  </div>
  <hr>
</div>
</main>

{% endblock content%}