<!DOCTYPE HTML>
<html>

<head>
  <title>Prompt Log</title>
  <meta name="description" content="website description" />
  <meta name="keywords" content="website keywords, website keywords" />
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" type="text/css" href="/static/css/style.css" title="style" />
  <link rel="shortcut icon" type="image/png" href="/static/image/favicon.ico"/>
</head>

<body>
  <div id="main">
    <div id="header">
      <div id="logo">
        <div id="logo_text">
          <!-- class="logo_colour", allows you to change the colour of the text -->
          <h1><a href="index">Inference <span class="logo_colour"></span></a></h1>
        </div>
      </div>
      <div id="menubar">
        <ul id="menu">
          <!-- put class="selected" in the li tag for the selected page - to highlight which page you're on -->
          <li ><a href="/"> Intro</a></li>
          <li><a href="/model_infor">Models</a></li>
          <li><a href="/buy">Top Up</a></li>
          <li  class="selected"><a href="/prompt">Prompt</a></li>
          <li ><a href="/chat">Chat Bot</a></li>
          <li ><a href="/manual">Manual</a></li>
          <li><a href="contact">Contact Us</a></li>
        </ul>
      </div>
    </div>
    <div id="site_content">
        <h1>Your previous API calls and prompts are displayed here</h1>
        <h5>NOTE: Your chat-log is not recorded</h5>
        <table style = "  margin-left: auto;
        margin-right: auto; ">
            <tr>
            <th>No.</th>
              <th>Prompts</th>
              <th>Responses</th>
              <th>Models</th>
              <th>Created Time</th>
              <th>Type</th>
              <th>Cost</th>
            </tr>
            {% for log in response_log %}
            <tr>
              <td>{{ log.id }}</td>
              <td>{{ log.prompt }}</td>
              <td>{{ log.response }}</td>
              <td>{{ log.model }}</td>
              <td>{{ log.created_at }}</td>
              <td>{{ log.p_type }}</td>
              <td>{{ log.model.price }}</td>
            </tr>
            {% endfor %}
          </table> 
          <div  style = "text-align: center;" >
          {% if response_log.has_previous %}
            <a href="?page={{ response_log.previous_page_number }}"><< Previous</a>
          {% endif %}
        
            <span class="current-page">{{ response_log.number }}</span>
        
         {% if response_log.has_next %}
            <a href="?page={{ response_log.next_page_number }}">Next >></a>
         {% endif %}
      </div>
    </div>
  </div>
</body>
</html>
