<!DOCTYPE HTML>
<html>


<head>
  <title>Static Prompt</title>
  <meta name="description" content="website description" />
  <meta name="keywords" content="website keywords, website keywords" />
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" type="text/css" href="static/css/style.css" title="style" />
</head>

<body>
  <div id="main">
    <div id="header">
      <div id="logo">
        <div id="logo_text">
          <!-- class="logo_colour", allows you to change the colour of the text -->
          <h1><a href="index.html">Inference</span></a></h1>
        </div>
      </div>
      <div id="menubar">
        <ul id="menu">
          <!-- put class="selected" in the li tag for the selected page - to highlight which page you're on -->
          <li ><a href="/"> Intro</a></li>
          <li><a href="/model_infor.html">Models</a></li>
          <li><a href="/buy.html"> Top Up</a></li>
          <li class="selected"><a href="/prompt.html">Promtps</a></li>
          <li ><a href="/chat.html">Chat Bot Mode</a></li>
          <li><a href="contact.html">Contact Us</a></li>
        </ul>
      </div>
    </div>
    <div id="site_content">
      
      <div id="content">
   
        <form method="post">
          <div class="form_settings">
            <p><span>Key Name</span><input type="text" name="name" value="" /></p>
            <p><span>Key Name</span><input type="text" name="key" value="" /></p>
            {% for llm in llms %}
            <p><span>{{llm.name}}</span><input class="checkbox" type="checkbox" name="{{llm.name}}" value="{{llm.name}}" /></p>
            {% endfor %}
            <p><span>Prompt</span><textarea rows="8" cols="50" name="name"></textarea></p>
            <p style="padding-top: 15px"><span>&nbsp;</span><input class="submit" type="submit" name="name" value="Submit" /></p>
          </div>
        </form>
      </div>
    </div>

  </div>
</body>
</html>
