{% extends "component_html/base.html" %}
{% block head %}
<link href="/static/css/prism.css" rel="stylesheet" />
<script src="/static/js/prism.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script type="text/javascript" src="/static/js/refresh-captcha.js"></script>

<style>
  #chat-log {
    width: 100% !important;
    resize: vertical;
    background-color: black;
    border-radius: 10px;
    color: white;
    box-sizing: border-box;
    height: 20vh;
    overflow: auto;
  }

  .message_log_container {
    margin: 10px;
  }
  .redirect_log label {
  display: inline-block;
  width: 100px;
  text-align: right;
}
.redirect_log img {
  margin-bottom: -4px!important;
}
</style>
{% endblock head %}

{% block content%}
<main class="container">
  <div id="site_content" style="grid-template-columns: 70% 30%;" class="grid">

    <div class="container" id="content">
      <h2>Prompt testing/Server warm up</h2>

      <form autocomplete="off" method="post">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div class="form_settings">

          <div class="grid" style="grid-template-columns: 60% 40%;">
            <div class="container">
              <div class="grid" >
                {{form.key_name}}
                {{form.key}}
                <input class="submit" type="submit" value="Submit" />
              </div>
              <br>
              {{form.prompt}}
            </div>
            <div class="container">
              {{form.model}}
            </div>
 
          </div>
          <div class="container">
            <h3> Mode </h3>
            {{form.mode}}
            {{form.include_memory}} Include Memory (for chat mode)
          </div>
          <hr>
          <small><i>NOTE: If the default parameters does not work for you, you can adjust them here.</i></small><br>
          <small><i>NOTE: In order to better understand these parameters, refer to <a
                href='https://huggingface.co/blog/how-to-generate'> This Blog </a> or <a
                href='https://github.com/vllm-project/vllm/blob/main/vllm/sampling_params.py'> This Code. </a>
            </i></small>
          <hr>
          <div class="grid">
            <div class="container">
              <label for="top_p">Top_p:</label>
              <div class="grid" style="grid-template-columns: 80% 20%;">
                {{form.top_p}}
                <output>0.73</output>
              </div>
              <label for="top_k">Top_k:</label>
              <div class="grid" style="grid-template-columns: 80% 20%;">
                {{form.top_k}}
                <output>-1</output>
              </div>
              <label for="max_tokens">Max_tokens:</label>
              <div class="grid" style="grid-template-columns: 80% 20%;">
                {{form.max_tokens}}
                <output>128</output>
              </div>
            </div>
            <div class="container">
              <label for="temperature">Temperature:</label>
              <div class="grid" style="grid-template-columns: 80% 20%;">
                {{form.temperature}}
                <output>0.72</output>
              </div>
              <label for="frequency_penalty">Frequency penalty:</label>
              <div class="grid" style="grid-template-columns: 80% 20%;">
                {{form.frequency_penalty}}
                <output>0</output>
              </div>
              <label for="presence_penalty">Presence penalty:</label>
              <div class="grid" style="grid-template-columns: 80% 20%;">
                {{form.presence_penalty}}
                <output>0</output>
              </div>
            </div>
          </div>
          <hr>
          <small><i>NOTE: These parameters go along with each others, please know what you are doing.</i></small><br>
          <small><i>NOTE: Return to default value if you messed up the parameters</i></small>
          <hr>
          {{form.beam}} Beam Search (default = False) <br>
          {{form.early_stopping}} Early Stop (default = False) <br> <br>
          {{form.length_penalty}}Length Penalty (default = 0)<br>
          {{form.best_of}} Best of (default = 2 for beam search, 1 for sampling) <br>
        </div>
      </form>
    </div>
    <div class="container" id="content">
      <!-- insert your sidebar items here -->
      <h3>Status</h3>
      <div id="chat-log">
        <p>
          {%for message in messages %}
        <div class="message_log_container" style="text-align: left; word-wrap: break-word; overflow-wrap: break-word;">
          <span> {{ message }}</span>
        </div>
        {% endfor %}
        </p>
      </div>
      <h3>Response Log</h3>
      <h4>You can check your response log here:</h4>
      <form class="redirect_log" method="post">
        {% csrf_token %}

        {{log_form}}
        
    
      </form>
      <div class="grid">
      <h3>API Endpoints:</h3>
      <p><a href="/api/docs">Test API</a></p>
    </div>

    </div>
  </div>

  </div>
</main>
{% endblock content%}