<!DOCTYPE HTML>
<html>
<head>
    <title>Buy </title>
    <meta name="description" content="website description" />
    <meta name="keywords" content="website keywords, website keywords" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="/static/css/style.css" title="style" />
    <link rel="shortcut icon" type="image/png" href="static/image/favicon.ico"/>
</head>
<body>
    <div id="main">
      <div id="header">
        <div id="logo">
          <div id="logo_text">
            <!-- class="logo_colour", allows you to change the colour of the text -->
            <h1><a href="index">Inference <span class="logo_colour"></span></a></h1>
          </div>
        </div>
        <div id="menubar">
          <ul id="menu">
            <li  ><a href="/"> Intro</a></li>
            <li><a href="/model_infor">Models</a></li>
            <li class="selected"><a href="/buy">Top Up</a></li>
            <li><a href="/prompt">Promtp</a></li>
            <li ><a href="/chat">Chat Bot</a></li>
            <li ><a href="/manual">Manual</a></li>
            <li><a href="contact">Contact Us</a></li>
          </ul>
        </div>
      </div>
      <div id="site_content">
        {% block content %}
        <div class="alert alert-success" role="alert">
         <h1 style = "text-align: center;"> Thanks for purchasing 
          <a 
              href="{% url 'apikey:product-list' %}"
              >Go Back</a
            ><h1>
        </div>
        {% endblock content %}


      
    </div>
  </body>
  </html>